<div class="card">
  <div class="row">
      <div class="col-12">
          <h4 style="border-left: 3px solid #3B82F6;" translate>&nbsp;{{heading}}
          <i class="pi pi-times-circle" (click)="back()" style="font-size: 1.5rem; float:right"></i>
        </h4>
      </div>
      <div class="col-12">
          <label class="col-form-label col-3 required" style="font-weight: bold;" translate>Date</label>
          <label class="col-form-label col-3 required" style="font-weight: bold;" translate>Type</label>
          <label class="col-form-label col-3 required" style="font-weight: bold;" translate>Name</label>
          <label class="col-form-label col-3 required" style="font-weight: bold;" translate>Voucher No</label>
        </div>
        <div class="col-12">
          <label class="col-form-label col-3 required">{{date | timezoneDate:"dd/MM/yyyy hh:mm:ss"}}</label>
          <label class="col-form-label col-3 required">{{type}}</label>
          <label class="col-form-label col-3 required">{{Name}}</label>
          <label class="col-form-label col-3 required">{{EditVoucherNo}}</label>
      </div>
      <div class="col-12" style="background-color: #0d6efd;color: white; padding:1px">
        <label class="col-form-label col-2 required" translate>Code</label>
        <label class="col-form-label col-3 required" translate>Name</label>
        <label class="col-form-label col-1 required" translate>Unit</label>
        <label class="col-form-label col-1 required" translate>Batch</label>
        <label class="col-form-label col-1 required" translate>Expiry</label>
        <label class="col-form-label col-1 required"  style="text-align: center;" translate>Quantity</label>
        <label class="col-form-label col-1 required" style="text-align: right;" translate>Price</label>
        <label class="col-form-label col-2 required" style="text-align: right;" translate>Amount</label>
      </div>
      <div class="col-12" *ngFor="let list of productlist" style="padding:1px">
        <label class="col-form-label col-2 required">{{list.prodCode}}</label>
        <label class="col-form-label col-3 required">{{list.prodName}}</label>
        <label class="col-form-label col-1 required">{{list.unit}}</label>
        <label class="col-form-label col-1 required">{{list.batchNo}}</label>
        <label class="col-form-label col-1 required">{{list.expiry}}</label>
        <label class="col-form-label col-1 required" style="text-align: center;">{{list.qty | number : '1.2-2'}}</label>
        <label class="col-form-label col-1 required" style="text-align: right;">{{list.purchRate | number : '1.2-2'}}</label>
        <label class="col-form-label col-2 required" style="text-align: right;">{{list.qty *list.purchRate | number : '1.2-2'}}</label>
      </div>
      <div class="col-12" style="border-top: 1px solid black;padding:6px">
        <label class="col-form-label col-2 required" style="font-weight: bold;" translate>Sub Total</label>
        <label class="col-form-label col-8 required"></label>
        <label class="col-form-label col-2 required" style="text-align: right;">{{SubTotal | number : '1.2-2'}}</label>
      </div>
      <div *ngIf="TotalTax" class="col-12" style="padding:6px">
        <label class="col-form-label col-2 required" translate style="font-weight: bold;">Total Tax</label>
        <label class="col-form-label col-8 required"></label>
        <label class="col-form-label col-2 required" style="text-align: right;" translate>{{TotalTax | number : '1.2-2'}}</label>
      </div>
      <div *ngIf="TotalDiscount" class="col-12" style="padding:6px">
        <label class="col-form-label col-2 required" translate style="font-weight: bold;">Discount</label>
        <label class="col-form-label col-8 required"></label>
        <label class="col-form-label col-2 required" style="text-align: right;" translate>{{TotalDiscount | number : '1.2-2'}}</label>
      </div>
      <div class="col-12" style="border-top: 1px solid black; padding:6px">
        <label class="col-form-label col-2 required" translate style="font-weight: bold;">Total</label>
        <label class="col-form-label col-8 required"></label>
        <label class="col-form-label col-2 required" style="text-align: right;">{{Total | number : '1.2-2'}}</label>
      </div>
      <div class="col-12" style="border-top: 1px solid black;">
        <h4 style="border-left: 3px solid #3B82F6; margin-top: 10px;" translate>&nbsp;e-Invoice Details</h4>
      </div>
      <div class="col-12">
        <label class="col-form-label col-3 required" translate style="font-weight: bold;">Company Name</label>
        <label class="col-form-label col-3 required" translate style="font-weight: bold;">Company Tax No</label>
        <label class="col-form-label col-3 required" translate style="font-weight: bold;">Invoice Amount</label>
        <label class="col-form-label col-3 required" translate style="font-weight: bold;"><span>Tax</span> Amount</label>
        <label class="col-form-label col-3 required" >{{companyName}}</label>
        <label class="col-form-label col-3 required">{{companyVat}}</label>
        <label class="col-form-label col-3 required">{{Total | number : '1.2-2'}}</label>
        <label class="col-form-label col-3 required">{{TotalTax | number : '1.2-2'}}</label>
        <label class="col-form-label col-3 required" translate style="font-weight: bold;">Date & Time</label>
        <label class="col-form-label col-3 required" translate style="font-weight: bold;">e-Invoice No</label>
        <label class="col-form-label col-6 required" translate></label>
        <label class="col-form-label col-3 required">{{date | timezoneDate:"dd/MM/yyyy hh:mm:ss"}}</label>
        <label class="col-form-label col-3 required">{{date | date:"ddMMyyyy"}}{{EditVoucherNo.split('-')[1]}}</label>
      </div>
      <div class="col-12" style="margin-top: 15px;" *ngIf="returnList && returnList.length != 0">
        <h4 style="border-left: 3px solid #3B82F6;" translate>&nbsp;Return Detail</h4>
      </div>
      <div *ngIf="returnList && returnList.length != 0">
        <div class="col-12" style="background-color: #0d6efd;color: white; padding:6px">
          <label class="col-form-label col-2 required" translate>Voucher No</label>
          <label class="col-form-label col-2 required" translate>Code</label>
          <label class="col-form-label col-2 required" translate>Name</label>
          <label class="col-form-label col-1 required"  style="text-align: right;" translate>Quantity</label>
          <label class="col-form-label col-2 required" style="text-align: right;" translate>Price</label>
          <label class="col-form-label col-1 required" style="text-align: right;" translate>Disc (%)</label>
          <label class="col-form-label col-2 required" style="text-align: right;" translate>Amount</label>
        </div>
        <div class="col-12" *ngFor="let list of returnList" style="padding:6px">
          <label class="col-form-label col-2 required"><a [href]="'/Invoices/Detail/'+list.prodGrpName" target="_blank">{{list.prodGrpName}}</a></label>
          <label class="col-form-label col-2 required">{{list.prodCode}}</label>
          <label class="col-form-label col-2 required">{{list.prodName}}</label>
          <label class="col-form-label col-1 required" style="text-align: right;">{{list.qty | number : '1.2-2'}}</label>
          <label class="col-form-label col-2 required" style="text-align: right;">{{list.sellRate | number : '1.2-2'}}</label>
          <label class="col-form-label col-1 required" style="text-align: right;">{{list.discount }}</label>
          <label class="col-form-label col-2 required" style="text-align: right;">{{list.amount | number : '1.2-2'}}</label>
        </div>
        <div class="col-12" style="border-top: 1px solid black;padding:6px">
          <label class="col-form-label col-2 required" style="font-weight: bold;" translate>Return Sub Total</label>
          <label class="col-form-label col-8 required"></label>
          <label class="col-form-label col-2 required" style="text-align: right;">{{returnSubTotal | number : '1.2-2'}}</label>
        </div>
        <div *ngIf="returnTotalTax" class="col-12" style="padding:6px">
          <label class="col-form-label col-2 required" translate style="font-weight: bold;">{{TaxName}}</label>
          <label class="col-form-label col-8 required"></label>
          <label class="col-form-label col-2 required" style="text-align: right;" translate>{{returnTotalTax | number : '1.2-2'}}</label>
        </div>
        <div *ngIf="returnTotalDiscount" class="col-12" style="padding:6px">
          <label class="col-form-label col-2 required" translate style="font-weight: bold;">Return Discount</label>
          <label class="col-form-label col-8 required"></label>
          <label class="col-form-label col-2 required" style="text-align: right;" translate>{{returnTotalDiscount | number : '1.2-2'}}</label>
        </div>
        <div class="col-12" style="border-top: 1px solid black; padding:6px">
          <label class="col-form-label col-2 required" translate style="font-weight: bold;">Return Total</label>
          <label class="col-form-label col-8 required"></label>
          <label class="col-form-label col-2 required" style="text-align: right;">{{returnTotal | number : '1.2-2'}}</label>
        </div>
      </div>
      <div class="col-12" style="margin-top: 15px;" *ngIf="voucherlist && voucherlist.length != 0">
        <h4 style="border-left: 3px solid #3B82F6;" translate>&nbsp;Payment Details</h4>
      </div>
      <div class="col-12" style="background-color: #0d6efd;color: white; padding:6px" *ngIf="voucherlist && voucherlist.length != 0">
        <label class="col-form-label col-3 required" translate>Voucher No</label>
        <label class="col-form-label col-3 required" translate>Date</label>
        <label class="col-form-label col-3 required" translate>Payment Method</label>
        <label class="col-form-label col-3 required" translate>Total</label>
      </div>
      <div class="col-12" *ngFor="let list of voucherlist" style="padding:6px">
        <label class="col-form-label col-3 required">{{list.voucherNo}}</label>
        <label class="col-form-label col-3 required">{{list.dtTx | timezoneDate:"dd/MM/yyyy hh:mm:ss"}}</label>
        <label class="col-form-label col-3 required">{{list.cstName}}</label>
        <label class="col-form-label col-3 required">{{list.amount | number : '1.2-2'}}</label>
      </div>
      <div class="col-12" style="border-top: 1px solid black;" *ngIf="voucherlist && voucherlist.length != 0">
        <label class="col-form-label col-2 required" translate style="font-weight: bold;">Total</label>
        <label class="col-form-label col-7 required"></label>
        <label class="col-form-label col-2 required">{{PaymentTotal | number : '1.2-2'}}</label>
      </div>


      <div class="col-12">
        <br>
        <button #printbtn (click)="showReportDialog()" translate class="btn btn-primary col-2"><i class="fa fa-print"></i> Print</button>
        <button #cancelbtn (click)="back()" translate style="margin-left: 10px;" class="btn btn-danger col-2"><i class="fa fa-undo"></i> Close</button>
      </div>
  </div>
</div>


<p-dialog [(visible)]="Reportvisible" [modal]="true" [style]="{width: '60vw'}">
  <div class="container" *ngIf="Reportvisible">
      <!-- <ssrs-reportviewer #ssrsReportViewer [reportserver]="serviceUrl" [reporturl]="ssrsFilePath"></ssrs-reportviewer> -->
      <app-invoices [voucherName]="EditVoucherNo"  [isProductCode]="isProductCode" [isBankInfo]="isBankInfo" [type]="printType"></app-invoices>
  </div>
</p-dialog>



<app-please-wait *ngIf="showPleaseWait"></app-please-wait>
