
<div class="container">
  <div class="card">
  <div class="row">
      <div class="col-9">
          <h4 style="border-left: 3px solid #3B82F6;" translate>&nbsp;Service Invoice</h4>
          <!-- <div class="row">
              <h4>Sale Invoice</h4>
          </div> -->

          <div class="row">
              <!-- <label class="col-form-label date-label col-4 required">Invoice No</label>  -->

              <label class="col-form-label date-label col-3 required" translate>Date</label>

               <label class="col-form-label Type-label col-3 required" translate>Type</label>

               <label class="col-form-label customer-label col-3 required" translate>Customer Name
                <div class="custom-tooltip">
                  <i class="fa fa-info-circle"></i>
                  <div class="tooltip-text">
                    To create a new customer, you can use a simple keyboard shortcut. First, click on the Customer dropdown menu. Then, press ALT + C on your keyboard. This will open a window where you can enter the details of the new customer
                  </div>
                </div>
              </label>

               <label class="col-form-label Vendor-label col-3 required" translate>Location</label>
          </div>
          <div class="row">
              <!-- <div class="col-4">
                  <p-inputNumber [disabled]="true" (keyup.enter)="onEnterComplex(0)" [useGrouping]="false" placeholder="SVN-00000000" [(ngModel)]="invoiceNo1"prefix="SVN-"></p-inputNumber>
              </div> -->

              <div class="col-3">
                  <p-calendar #inputField (keyup.enter)="onEnterComplex(0)"  [maxDate]="maxDate"  [(ngModel)]="selectedDate" [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>
              </div>

              <div class="col-3">
                  <p-autoComplete #inputField pAutoFocus [autofocus]="true" [(ngModel)]="SelectedType[0]" [suggestions]="filterType"  (completeMethod)="filtersType($event)" (keyup.enter)="onEnterComplex(1)"
                  field="name" [minLength]="1" [dropdown]="true" (onSelect)="typeOnChange()" ></p-autoComplete>
              </div>

              <div class="col-3">
                  <p-autoComplete #inputField  [(ngModel)]="selectedCustomerName" [suggestions]="customerList" (keydown)="customerVisible($event)" (onSelect)="customerOnChange()" (completeMethod)="filterCustomer($event)" (keyup.enter)="onEnterComplex(2)"
                  field="cstName" value="cstID" [minLength]="1" [dropdown]="true"  >
                  <ng-template let-customer pTemplate="item">
                    <div>{{customer.cstCode}} - {{customer.cstName}}</div>
                  </ng-template>
                  <ng-template pTemplate="header">
                    <button style="margin-top: 8px;color:blue !important" (click)="customerVisible1()" translate  class="btn col-12" ><i class="pi pi-plus"></i> Add New Customer</button>
                  </ng-template>
              </p-autoComplete>
              </div>

              <div class="col-3">
                <p-autoComplete #inputField  [(ngModel)]="selectedLocation" [suggestions]="LocationList"  (completeMethod)="filterLocation($event)" (keyup.enter)="onEnterComplex(3)"
                field="locName" value="locID" [minLength]="1" [dropdown]="true" ></p-autoComplete>
            </div>
          </div>
          <br>
          <p-table #dt [value]="productlist" dataKey="prodID" editMode="row" styleClass="p-datatable-sm" [scrollable]="true" class="ServiceTable" scrollHeight="200px" scrollDirection="vertical">
              <ng-template pTemplate="header">
                  <tr>
                      <!-- <th class="">Code</th> -->
                      <th class="" translate>Service Name
                        <div class="custom-tooltip">
                          <i class="fa fa-info-circle"></i>
                          <div class="tooltip-text">
                            To create a new service, you can use a simple keyboard shortcut. First, click on the service dropdown menu. Then, press ALT + C on your keyboard. This will open a window where you can enter the details of the new service
                          </div>
                        </div>
                      </th>
                      <!-- <th class="" style="text-align: center;">Qty</th> -->
                      <th class="" translate style="text-align: center;" >Price</th>
                      <!-- <th class="" style="text-align: center;">Amount</th> -->
                      <th></th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
                  <tr (click)="activeAllModule(ri)" [style.background-color]="ri == rowNmb ? 'lightgray' : ''">
                      <!-- <td >
                          <p-autoComplete #inputField  [(ngModel)]="rowData.prodCode" [minLength]="1" (keyup.enter)="onCodeChange(rowData.prodCode,ri)" class="girdRow girdRowCode"></p-autoComplete>
                      </td> -->

                      <td >
                          <p-autoComplete #inputField  [(ngModel)]="rowData.prodName" appendTo="body" [suggestions]="Filterproductlist" (completeMethod)="filterProduct($event)"
                          field="prodName" value="prodID" [minLength]="1" (keydown)="productVisible($event)"   (keyup.enter)="onEnterTableInput(-1,ri)"  (onBlur)="onChange(rowData.prodName,ri,autoComplete3)" class="girdRow serviceDropDown" [style]="{ 'width':'100% !important','min-width':'100%'}" #autoComplete3 (onFocus)="autoComplete3.show()" ></p-autoComplete>
                      </td>
                      <td>
                                  <input [style]="{'width':'80px !important','min-width':'100%','text-align':'right'}" pInputText #inputFieldTable (keyup.enter)="addNewRow(rowData,ri)" (onBlur)="addNewRow(rowData,ri)" (keypress)="($event.charCode >= 46 && $event.charCode < 58)" class="p-inputtext-sm" type="text" [(ngModel)]="rowData.sellRate" (change)="Itemcalculation(ri)" class="girdRow">
                      </td>
                      <!-- <td>
                                  <input [style]="{'width':'120px !important','min-width':'100%' ,'text-align':'right','color':'black','font-weight': 'bold'}" pInputText class="p-inputtext-sm" type="text" [(ngModel)]="rowData.amount" disabled class="girdRow">
                      </td> -->
                      <td>
                          <button pButton type="button" icon="pi pi-trash" (click)="onRowDeleteInit(rowData,ri)" class="p-button-rounded p-button-text" [style]="{'height': '32px !important','width': '30px !important',color:'var(--gray-900)'}"></button>
                      </td>
                  </tr>
              </ng-template>
              <ng-template pTemplate="footer">
                      <button #newRowButton pButton type="button" icon="pi pi-plus" [label]="'Add' | translate"
                      pAddRow [table]="dt" [newRow]="newRow()" (click)="focusing()" [style]="{'margin-top': '10px !important','height':'25px !important'}"></button>
              </ng-template>
          </p-table>
          <br/>

          <p-table hidden #dt [value]="voucherList" dataKey="voucherNo" editMode="row"  styleClass="p-datatable-sm" [scrollable]="true" class="JournalTable"  scrollHeight="220px" scrollDirection="vertical">
            <ng-template pTemplate="caption">
              <div class="flex align-items-center justify-content-between">
                  Expense Detail
              </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th class="" translate>Account</th>
                    <th class="" translate>Comments</th>
                    <th class="" style="text-align: center;" translate>Amount</th>
                    <th translate></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
                <tr (click)="activeAllModule(ri)" [style.background-color]="ri == rowNmb ? 'lightgray' : 'white'">
                  <td >
                    <p-autoComplete  #autoComplete4 appendTo="body" [style]="{ 'width':'100% !important','min-width':'100%'}" #inputField1 (keyup.enter)="OnEnterForExpense(0,ri)" [(ngModel)]="rowData.childlist" [suggestions]="FilterCoaAccountListForChild" (onFocus)="autoComplete4.show()" (completeMethod)="filterCoaAccountForChild($event)"
                    field="acctName" value="COAID" [minLength]="1" class="girdRow serviceDropDown"></p-autoComplete>
                    <!-- (keydown)="productVisible($event)"   (keyup.enter)="onChange(rowData.prodName,ri)" -->
                  </td>

                  <td >
                    <p-autoComplete  #inputField1 [(ngModel)]="rowData.glComments" [style]="{ 'width':'100% !important','min-width':'100%'}" (keyup.enter)="OnEnterForExpense(1,ri)" [ngModelOptions]="{standalone: true}" [minLength]="1" class="girdRow serviceDropDown"></p-autoComplete>
                </td>
                <td >
                  <p-autoComplete  #inputField1 [(ngModel)]="rowData.debit" (keypress)="($event.charCode >= 46 && $event.charCode < 58)" [style]="{ 'width':'80px !important','min-width':'80px'}" (onBlur)="addRow(ri)" (keyup.enter)="addRow(ri)"
                    [ngModelOptions]="{standalone: true}" [minLength]="1" class="girdRow"></p-autoComplete>
              </td>
            <td>
              <button pButton type="button" icon="pi pi-trash" (click)="onRowDeleteInit1(rowData,ri)" class="p-button-rounded p-button-text" [style]="{'height': '32px !important','width': '30px !important',color:'var(--gray-900)'}"></button>
          </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer" >
              <button (click)="addRow(voucherList.length-1)"  class="btn btn-primary" translate><i class="fa fa-plus"></i> Add</button>
            </ng-template>
        </p-table>
        <br>

          <label class="col-form-label date-label col-3 required" translate>Comments</label>
          <textarea [style]="{'width':'500px !important','min-width':'100%'}" [maxlength]="150" pInputText #inputFieldTable class="p-inputtext-sm" (keyup.enter)="focusOnSaveButton()" type="textarea" [(ngModel)]="comment"></textarea>
          <br/>
          <br/>

          <!-- <button #savebtn (click)="saveInvoice()" [disabled]="savebtnDisable" class="btn btn-outline-primary">Save</button>
          <button #cancelbtn (click)="confirmDailog('cancel')" style="margin-left: 10px;" class="btn btn-outline-danger">Cancel</button> -->

          <!-- <div class="row">
                  <div class="col-12" style="margin-top: 10px; background-color:black; color: WHITE;">
                      (ALT + s) = Save, (F2) = Discount, (F4) = Customer, (CTRL + c) Cancel
                  </div>
          </div> -->

      </div>
      <div class="col-3">
          <div class="row">
              <div class="col-12">
                  <i class="pi pi-times-circle" (click)="confirmDailog('close')" style="font-size: 1.5rem; float:right"></i>
              </div>
          </div>
          <div class="row" style="margin-top: 20px; background-color:var(--surface-900);color: var(--surface-0); padding:4px; height: 35px !important;" (click)="showInvoiceDetails()">
              <h4 class="col-9" style="color: var(--surface-0);" translate>Invoice Detail</h4>
              <i class="pi pi-angle-up col-3" *ngIf="invoiceDetailShow" style="font-size: 2rem; float: right;padding: 0px !important;text-align: right;padding-right: 5px !important;"></i>
              <i class="pi pi-angle-down col-3"  *ngIf="!invoiceDetailShow" style="font-size: 2rem; float: right;padding: 0px !important;text-align: right;padding-right: 5px !important;"></i>
          </div>
          <div class="row" *ngIf="invoiceDetailShow">
              <div class="col-12" style="border-radius: 10px; background-color: '';">
                  <label class="col-form-label col-6 required" translate><strong translate>Sub Total</strong></label>
                  <label class="col-form-label col-6" style="text-align: right;" name="SubTotal" [(ngModel)]="SubTotal" ngDefaultControl >{{SubTotal | number:'1.2-2'}}</label>
                  <label class="col-form-label col-6 required" translate>
                    <p-checkbox [(ngModel)]="vatInclude" (ngModelChange)="calculateTotalAmount()" [binary]="true" inputId="binary"></p-checkbox>
                    <strong> {{this.TaxName | translate}} <span>({{this.TaxValue}}%)</span></strong></label>
                  <label class="col-form-label col-6" style="text-align: right;" name="TotalTax" [(ngModel)]="TotalTax" ngDefaultControl >{{TotalTax | number:'1.2-2'}}</label>
                  <label class="col-form-label col-6 required" translate><strong translate>Discount</strong></label>
                  <input #focusDiscountInput class="col-form-label col-6 p-inputtext-md" style="float:right ; text-align: right; width: 60px !important; height: 30px !important;" name="TotalDiscount" pInputText type="text" [(ngModel)]="TotalDiscount" (keypress)="($event.charCode >= 46 && $event.charCode < 58)" (ngModelChange)="calculateTotalAmount()" (keyup.enter)="focusOnSaveButton()">
                  <label class="col-form-label col-6 required" translate><strong translate>Total</strong></label>
                  <label class="col-form-label col-6" style="text-align: right;font-weight: bold;" name="Total" [(ngModel)]="Total" ngDefaultControl >{{Total | number:'1.2-2'}}</label>
              </div>
          </div>
          <div style="position: absolute;bottom:40px;right: 20px;">
            <button #savebtn (click)="saveInvoice()" translate  [disabled]="savebtnDisable" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
            <button #cancelbtn (click)="confirmDailog('cancel')" translate style="margin-left: 10px;" class="btn btn-danger"><i class="fa fa-undo"></i> Cancel</button>
            <button #cancelbtn (click)="confirmDailog('close')"   style="margin-left: 10px;" class="btn btn-danger" translate><i class="fa fa-close"></i> Close</button>

          </div>
      </div>
  </div>
  </div>

</div>

  <p-dialog [(visible)]="Reportvisible" [style]="{width: '60vw'}" (onHide)="closeReportRegistration()">
      <div class="container" *ngIf="Reportvisible">
          <!-- <ssrs-reportviewer #ssrsReportViewer [reportserver]="serviceUrl" [reporturl]="ssrsFilePath"></ssrs-reportviewer> -->
          <app-invoices [voucherName]="invoiceNo" [isProductCode]="isProductCode" [isArabic]="isArabic" [isBankInfo]="isBankInfo" [type]="printtype"></app-invoices>
      </div>
  </p-dialog>

  <p-dialog #cstDailog [(visible)]="CustomersVisible" [style]="{width: '40vw'}" (onHide)="closeCustomerRegistration()">
    <app-add-new-customer-for-invoice [title]="'Customer Registration'" [type]="SelectedType[0].name" (dataEvent)="handleChildData($event)"></app-add-new-customer-for-invoice>
</p-dialog>

  <p-dialog #PrdDailog [(visible)]="ProductsVisible" [style]="{width: '60vw'}" (onHide)="closeProductsRegistration()">
      <app-add-new-product [title]="'Product Registration'" [showGroupBtn]="false" (dataEvent)="ProductsVisible = false"></app-add-new-product>
  </p-dialog>

  <p-dialog [modal]="true" [(visible)]="PrintringVisible" [style]="{width: '25vw'}">
    <div class="container">
          <div class="col-12">
            <input type="radio" id="css" name="fav_language" (change)="onChangePrint($event)" value="A4"checked>
            &nbsp;
            <label class="col-4" for="css" translate>A4 View</label>
            <input type="radio" id="html" name="fav_language" (change)="onChangePrint($event)" value="thermal">
            &nbsp;
            <label class="col-4" for="html" translate>Thermal View</label>
            <br>
          </div>
        <p-checkbox [(ngModel)]="isBankInfo" [hidden]="bankDetail" [binary]="true" [value]="isBankInfo" label=" Include bank detail on print"></p-checkbox>
        <div style="text-align: right;">
          <br>
          <button (click)="onPrinterClick()" translate autofocus class="btn btn-primary"><i class="fa fa-save"></i> Submit</button>
          &nbsp;<button (click)="PrintringVisible=false" translate class="btn btn-danger"><i class="fa fa-undo"></i> Close</button>
        </div>
      </div>
</p-dialog>


<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>

<app-please-wait *ngIf="showPleaseWait"></app-please-wait>
