
<div class="container">
  <div class="card">
  <div class="row">
      <div class="col-12">
          <div class="row">
              <div class="col-10">
                <h4 style="border-left: 3px solid #3B82F6;" translate>&nbsp;Bulk Stock Update</h4>
              </div>
                <div class="col-2">
                  <i class="pi pi-times-circle" (click)="confirmDailog('close')" style="font-size: 1.5rem; float:right"></i>
                </div>
          </div>

          <div class="row">
              <label class="col-form-label date-label col-3 required" translate>Date</label>
              <label class="col-form-label Vendor-label col-3 required" translate>Location</label>
             <label class="col-form-label Vendor-label col-3 required" translate>Category</label>
          </div>
          <div class="row">
              <div class="col-3">
                <p-calendar #inputField (keyup.enter)="onEnterComplex(0)"  [maxDate]="maxDate"   [(ngModel)]="selectedDate" [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>
              </div>
              <div class="col-3">

                <p-dropdown
                #inputField
                styleClass="ReportDropDown"
                [(ngModel)]="selectedLocation"
                [options]="locations"
                optionLabel="LocationName"
                [filter]="true"
                [filterBy]="'LocationName'"
                [showClear]="true"
                >
                </p-dropdown>
              </div>
              <div class="col-3">
                <p-dropdown
                #inputField
                [style]="{width:'100%'}"
                [(ngModel)]="selectedCategory"
                [options]="categoryList"
                optionLabel="prodGrpName"
                [filter]="true"
                [filterBy]="'prodGrpName'"
                [showClear]="false"
                (ngModelChange)="ChangeProductList()"
                >
              </p-dropdown>
              </div>
          </div>
          <br>
          <!-- <p-table #dt [value]="productlist" dataKey="prodID" editMode="row" styleClass="p-datatable-sm" [scrollable]="true" class="AddTable" scrollHeight="280px" scrollDirection="vertical"> -->
            <p-table
            #dt
            [value]="productlist"
            dataKey="prodID"
            styleClass="p-datatable-sm"
            [scrollable]="true"
            class="AddTable"
            scrollHeight="250px"
            scrollDirection="vertical"
            [paginator]="true"
            [rows]="300"
            [totalRecords]="totalRecords"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          >

            <ng-template pTemplate="header">
                  <tr>
                      <th>S.No</th>
                      <th class="col-2" translate>Code</th>
                      <th class="" translate>Product Name
                      <th class="" translate style="text-align: center;">Available Quantity</th>
                      <th class="" translate style="text-align: center;" >Update Quantity</th>
                      <th class="" translate style="text-align: center;" >Added/Subracted</th>
                      <!-- <th class="col-1" translate></th> -->
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
                  <tr (click)="activeAllModule(ri)" [style.background-color]="ri == rowNmb ? 'lightgray' : ''">
                      <td>
                        {{ri+1}}
                      </td>
                      <td>
                          <p-autoComplete   [readonly]="true"  [(ngModel)]="rowData.BarCode" [minLength]="1"   class="girdRow girdRowCode codeInput" [style]="{ 'width':'100% !important','min-width':'100%'}"></p-autoComplete>
                      </td>
                      <td >
                          <p-autoComplete [readonly]="true" styleClass="myclass" [(ngModel)]="rowData.prodName" appendTo="body"  [minLength]="1"    class="myClass girdRow" [style]="{ 'width':'100% !important','min-width':'100%'}"></p-autoComplete>
                      </td>
                      <td >
                          <input #qtyField  [readonly]="true" [style]="{'width':'80px !important','min-width':'100%','text-align':'right','font-weight':'bold'}" pInputText (keypress)="($event.charCode >= 46 && $event.charCode < 58)"  appFocusNext class="p-inputtext-sm" type="text" [(ngModel)]="rowData.AvailableQty" (change)="Itemcalculation(ri)" class="girdRow">
                      </td>
                      <td>
                          <input [style]="{'width':'80px !important','min-width':'100%','text-align':'right'}" pInputText #inputFieldTable  (keyup.enter)="onEnterTableInput(0,ri)" (keypress)="($event.charCode >= 46 && $event.charCode < 58)" class="p-inputtext-sm" type="text" [(ngModel)]="rowData.OrderedQty" autofocus (change)="Itemcalculation(ri)" class="girdRow">
                      </td>
                      <td >
                        <input #qtyField  [readonly]="true" [style]="{'width':'80px !important','min-width':'100%','text-align':'right','font-weight':'bold'}" pInputText (keypress)="($event.charCode >= 46 && $event.charCode < 58)"  appFocusNext class="p-inputtext-sm" type="text" [(ngModel)]="rowData.OrderedQty > 0 ? rowData.OrderedQty - rowData.AvailableQty : rowData.OrderedQty " (change)="Itemcalculation(ri)" class="girdRow">
                      </td>
                      <!-- <td>
                          <button pButton type="button" title="Delete Row" icon="pi pi-trash" (click)="onRowDeleteInit(rowData,ri)" class="p-button-rounded p-button-text" [style]="{'height': '20px !important','width': '20px !important',color:'var(--gray-900)'}"></button>
                      </td> -->
                  </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="7" translate>No Record found.</td>
                </tr>
            </ng-template>
          </p-table>
          <br/>
          <button #savebtn (click)="saveInvoice()" translate  [disabled]="savebtnDisable" class="btn btn-primary col-2"><i class="fa fa-save"></i> Save</button>
          <button #cancelbtn (click)="confirmDailog('cancel')" translate style="margin-left: 10px;" class="btn btn-danger col-2"><i class="fa fa-undo"></i> Cancel</button>
          <button #cancelbtn (click)="confirmDailog('close')"   style="margin-left: 10px;" class="btn btn-danger" translate><i class="fa fa-close"></i> Close</button>
      </div>
  </div>
  </div>
</div>

  <p-dialog [(visible)]="Reportvisible" [style]="{width: '60vw'}" (onHide)=" this.onEnterComplex(0)">
      <div class="container" *ngIf="Reportvisible">
          <!-- <ssrs-reportviewer #ssrsReportViewer [reportserver]="serviceUrl" [reporturl]="ssrsFilePath"></ssrs-reportviewer> -->
          <app-invoices [voucherName]="invoiceNo" [isBankInfo]="isBankInfo" [isProductCode]="isProductCode" [isArabic]="isArabic" [type]="printtype"></app-invoices>
      </div>
  </p-dialog>


<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
<app-please-wait *ngIf="showPleaseWait"></app-please-wait>

