<div class="card">
  <div class="row">
      <div class="col-6">
          <h4 style="border-left: 3px solid #3B82F6;" translate>&nbsp;Notifications
            <a *ngIf="!bookmark"  (click)="UpdateBookmark(true)" title="Add Bookmark"><i class="pi pi-bookmark" style="font-size: 1.5rem;"></i></a>
            <a *ngIf="bookmark" (click)="UpdateBookmark(false)" title="Remove Bookmark"><i class="pi pi-bookmark-fill" style="font-size: 1.5rem;"></i></a>
          </h4>
      </div>
      <!-- <div class="col-6" style="text-align: right;">
      <button pButton type="button" icon="pi pi-plus" [routerLink]="'./../AddNewSale'" style="padding: 0.5rem !important;">Add New</button>
      </div> -->
  </div>
  <p-table #dt1 [value]="notificationList" dataKey="notificationMessageID" styleClass="p-datatable-striped" [(selection)]="selectedNotificaiton"
      [rows]="100" [showCurrentPageReport]="true" [rowsPerPageOptions]="[100,500,1000]" [loading]="loading"
      [paginator]="true" scrollHeight="100px" [scrollable]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [globalFilterFields]="['email','message','createdDate','username','voucherNo']">
      <ng-template pTemplate="caption">

          <div class="table-header row" style="margin-top: 8px;margin-bottom: 8px;">
              <div class="col-md-6">
                <span class="p-input-icon-left ml-auto">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text" (input)="dt1.filterGlobal($any($event.target).value, 'contains')" [placeholder]="'Search keyword'|translate" />
                </span>
              </div>
              <div class="col-md-6" style="text-align:right !important;">
                <span class="p-buttonset">
                  <p-button icon="fa-solid fa-envelope-circle-check" styleClass="p-button p-button-sm p-button-info btns" (onClick)="MarkAsRead()" [style]="{'margin-right': '8px'}" title="Mark as Read"></p-button>
                  <p-button icon="pi pi-file-excel" styleClass="p-button p-button-sm p-button-success btns" (onClick)="exportExcel()" [style]="{'margin-right': '8px'}" title="Export Excel"></p-button>
                  <p-button icon="pi pi-file-pdf" styleClass="p-button p-button-sm p-button-danger btns" (onClick)="exportPdf()" title="Export PDF"></p-button>
                </span>
              </div>
            </div>
      </ng-template>
      <ng-template pTemplate="header">
          <tr>
            <th style="width: 1rem;">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th style="width: 1rem;">

            </th>
            <th style="width:11rem" translate>
              Date
            </th>
            <th translate>
              Username
              </th>
              <th style="width:5rem" translate>
                      User Email
              </th>
              <th  translate>
                      Notification Message
              </th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-alert>
          <tr>
            <th style="text-align: center;" >
              <p-tableCheckbox  [value]="alert" *ngIf="alert.active == 1"></p-tableCheckbox>
            </th>
            <td>
              <i *ngIf="alert.active == 1" class="fa-solid fa-circle" style="color:gray"></i>
            </td>
            <td>
              {{alert.createdDate | timezoneDate : "dd-MM-yyyy hh:mm:ss"}}
            </td>
            <td>
              {{alert.username}}
            </td>
              <td>
                {{alert.email}}
              </td>
              <td *ngIf="alert.voucherNo != ''">
                <a style="color:blue" (click)="redirectToInvoice(alert.voucherNo)">{{alert.message +", Invoice No : "+alert.voucherNo}}</a>
              </td>
              <td *ngIf="alert.voucherNo == ''">
                {{alert.message}}
              </td>
          </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
          <tr>
              <td colspan="7" translate>No Record found.</td>
          </tr>
      </ng-template>
  </p-table>
</div>

