<div class="container">
  <h4 translate>{{title}}</h4>
  <div style="border-Top: 3px solid #eee;"  class="row">
      <div class="col-12">
           <br>
          <div class="col-12" style="text-align: center;">
              <button #savebtn (click)="saveFY(false)" translate class="btn btn-primary col-3" [disabled]="disable"><i class="fa fa-save"></i> Process</button>&nbsp;
              <button #cancelbtn (click)="sendDataToParent()" translate class="btn btn-danger col-3"><i class="fa fa-undo"></i> Cancel</button>
          </div>
      </div>
  </div>
</div>


<p-confirmDialog appendTo="body"> </p-confirmDialog>


