
<app-gird
tableheading="Credit Card"
[columns]="cols"
[data]="creditCardList"
[rowcount]=100
[allowColSort]="false"
[allowColFilter]="false"
[allowGlobalFilter]="true"
[allowActionButtons]="true"
[allowUploadButtons]="false"
(dataEvent)="handleChildData($event)"
>
</app-gird>



<p-dialog #prodDailog [(visible)]="cardVisible" [modal]="true" [style]="{width: '30vw'}">
  <app-add-new-credit-card [cardList]="cardlist" [title]="grouptitle" (dataEvent)="handleChildData($event)"></app-add-new-credit-card>
</p-dialog>
