<div class="container">
  <h4>{{title}}</h4>
  <div style="border-Top: 3px solid #eee;" class="row">
   <!-- Form fields (General Information) -->
   <div class="row mt-4">
    <div class="col-md-6 mb-3">
      <label for="vendName">Supplier Name</label>
      <br>
      <p-dropdown 
        id="vendName" 
        [(ngModel)]="companyCSE.vendID" 
        [options]="vendors" 
        optionLabel="vendName" 
        optionValue="vendID" 
        placeholder="Select Supplier" 
        [filter]="true" 
        filterPlaceholder="Search Supplier"
        [showClear]="true"
        styleClass="col-12"
        >
      </p-dropdown>
    </div>

    <div class="col-md-6 mb-3">
      <label for="RepName">CSE Name</label>
      <input id="RepName" [(ngModel)]="companyCSE.RepName" name="RepName" class="form-control" type="text" placeholder="Enter CSE Name">
    </div>

    <div class="col-md-6 mb-3">
      <label for="Address1">Address</label>
      <input id="Address1" [(ngModel)]="companyCSE.Address1" name="Address1" class="form-control" type="text" placeholder="Enter Address">
    </div>

    <div class="col-md-6 mb-3">
      <label for="email">Email</label>
      <input id="email" [(ngModel)]="companyCSE.email" name="email" class="form-control" type="email" placeholder="Enter Email">
    </div>

    <div class="col-md-6 mb-3">
      <label for="Cell">Phone</label>
      <input id="Cell" [(ngModel)]="companyCSE.Cell" name="Cell" class="form-control" type="text" placeholder="Enter Phone">
    </div>



    <!-- <div class="col-md-6 mb-3">
      <label for="IsDefault">Is Default</label>
      <select [(ngModel)]="companyCSE.IsDefault" name="IsDefault" id="IsDefault" class="form-control">
        <option [ngValue]="null">Select</option>
        <option [ngValue]="true">Yes</option>
        <option [ngValue]="false">No</option>
      </select>
    </div> -->

    <!-- <div class="col-md-6 mb-3">
      <label for="Active">Active</label>
      <select [(ngModel)]="companyCSE.Active" name="Active" id="Active" class="form-control">
        <option [ngValue]="null">Select</option>
        <option [ngValue]="true">Yes</option>
        <option [ngValue]="false">No</option>
      </select>
    </div> -->
  </div>

  <!-- Tabs for Locations and Customers -->
  <div class="row mt-4">
    <div class="col-12">
      <p-tabView>
        <!-- Locations and Customers Tab -->
        <p-tabPanel header="Locations & Customers">
          <!-- Location and Customer Selection -->
          <div class="row mb-3">
            <div class="col-md-6">
              <label for="locationSelect">Select Location</label>
              <select id="locationSelect" [(ngModel)]="selectedLocationId" (change)="onLocationChange()" class="form-control">
                <option [value]="null" disabled selected>Select Location</option>
                <option *ngFor="let location of locations" [value]="location.LocationId">{{ location.LocationName }}</option>
              </select>
            </div>
        
            <div class="col-md-6">
              <label for="customerSelect">Select Customer</label>
              <select id="customerSelect" [(ngModel)]="selectedCustomerId" class="form-control">
                <option [value]="null" disabled selected>Select Customer</option>
                <option *ngFor="let customer of filteredCustomers" [value]="customer.cstID">{{ customer.cstName }}</option>
              </select>
            </div>
        
            <div class="col-md-12 mt-3">
              <button (click)="addCustomerToLocation()" class="btn btn-success" [disabled]="!selectedLocationId || !selectedCustomerId">
                <i class="fa fa-plus"></i> Add
              </button>
            </div>
          </div>
        
          <!-- List of Added Locations and Customers -->
          <div *ngFor="let map of companyCSE.CSECustomer; let i = index" class="row mb-2">
            <div class="col-md-6">
              <strong>{{ map.LocationName }}</strong>
            </div>
            <div class="col-md-6">
              <div class="d-flex justify-content-between align-items-center" *ngIf="map.CstID">
                <strong>{{ map.CustomerName }}</strong>
                <button (click)="removeCustomerFromLocation(i)" class="btn btn-danger btn-sm">
                  <i class="fa fa-trash"></i> Remove
                </button>
              </div>
            </div>
          </div>
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>
    <div class="col-12" style="text-align: right;">
      <br>
      <button #savebtn  [disabled]="isSaveDisable"  (click)="saveCompanyCSE()" translate class="btn btn-primary col-3"><i class="fa fa-save"></i> Save</button> &nbsp;
      <button #cancelbtn (click)="sendDataToParent()" translate class="btn btn-danger col-3"><i class="fa fa-undo"></i> Cancel</button>
    </div>
  </div>
</div>



