@model Studentproject.Models.Student
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>@(Model.Id == 0 ? "AddStudent" : "EditStudent")</h2>

<form asp-action="SaveStudent" method="post" enctype="multipart/form-data">
<div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="RollNumber" class="control-label"></label>
        <input asp-for="RollNumber" class="form-control" />
        <span asp-validation-for="RollNumber" class="text-danger"></span>
    </div>

    <div>
        <label>Upload Image</label>
        <input type="file" name="ImageFile" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>


