<div class="card">
  <div class="row">
      <div class="col-6">
          <h4 style="border-left: 3px solid #3B82F6;" translate>&nbsp;Stock Shortage
            <a *ngIf="!bookmark"  (click)="UpdateBookmark(true)" title="Add Bookmark"><i class="pi pi-bookmark" style="font-size: 1.5rem;"></i></a>
            <a *ngIf="bookmark" (click)="UpdateBookmark(false)" title="Remove Bookmark"><i class="pi pi-bookmark-fill" style="font-size: 1.5rem;"></i></a>
          </h4>
      </div>
      <!-- <div class="col-6" style="text-align: right;">
      <button pButton type="button" icon="pi pi-plus" [routerLink]="'./../AddNewSale'" style="padding: 0.5rem !important;">Add New</button>
      </div> -->
  </div>
  <p-table #dt1 [value]="invoices" dataKey="id"  styleClass="p-datatable-striped"
      [rows]="100" [showCurrentPageReport]="true" [rowsPerPageOptions]="[100,500,1000]" [loading]="loading"
      [paginator]="true" scrollHeight="100px" [scrollable]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [globalFilterFields]="['cstName','dtTx','amount','voucherNo']">
      <ng-template pTemplate="caption">

          <div class="table-header row" style="margin-top: 8px;margin-bottom: 8px;">
              <div class="col-md-6">
                <span class="p-input-icon-left ml-auto">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text" (input)="dt1.filterGlobal($any($event.target).value, 'contains')" [placeholder]="'Search keyword' | translate"/>
                </span>
              </div>
              <div class="col-md-6" style="text-align:right !important;">
                <span class="p-buttonset">
                  <p-button icon="pi pi-plus" styleClass="p-button p-button-sm btns" [routerLink]="'./../AddNewStockShortage'"  [style]="{'margin-right': '8px'}" title="Add"></p-button>
                  <p-button icon="pi pi-file-excel" styleClass="p-button p-button-sm p-button-success btns" (onClick)="exportExcel()"  [style]="{'margin-right': '8px'}" title="Export Excel"></p-button>
                  <p-button icon="pi pi-file-pdf" styleClass="p-button p-button-sm p-button-danger btns" (onClick)="exportPdf()" [style]="{'margin-right': '8px'}" title="Export PDF"></p-button>
                  <!-- <p-button icon="pi pi-fw pi-cog" styleClass="p-button p-button-sm p-button-secondary btns" (click)="reportSettingVisiblity=true" [style]="{'margin-right': '8px'}" title="Invoice Report Setting"></p-button> -->
                </span>
              </div>
            </div>
      </ng-template>
      <ng-template pTemplate="header">
          <tr>
              <th style="min-width:10rem;text-align: center;"  pFrozenColumn translate>ACTIONS</th>
              <th style="min-width:12rem" translate>
                  <div class="flex justify-content-center align-items-center" translate>
                      Invoice Date
                  </div>
              </th>
              <th style="min-width:12rem" translate>
                  <div class="flex justify-content-center align-items-center" translate>
                      Invoice No
                  </div>
              </th>
              <th style="min-width:8rem" translate>
                <div class="flex justify-content-center align-items-center" translate>
                    Comment
                </div>
              </th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-invoices>
          <tr>
              <td pFrozenColumn style="text-align: center !important;z-index: 0;">
                  <span class="p-buttonset">
                    <p-button (onClick)="printView(invoices.voucherNo)"  icon="pi pi-file-pdf" styleClass="p-button-rounded p-button-info p-button-text" title="Print"></p-button>
                    <p-button *ngIf="invoices.isPaymented" (onClick)="editView(invoices.voucherNo)" icon="pi pi-pencil" styleClass="p-button-rounded p-button-success p-button-text" title="Edit"></p-button>
                    <p-button *ngIf="invoices.isPaymented" (onClick)="deleteView(invoices.voucherNo)" icon="pi pi-trash" styleClass="p-button-rounded p-button-danger p-button-text" title="Delete"></p-button>
                  </span>
              </td>
              <td>
                  {{invoices.dtTx | timezoneDate : "dd-MM-yyyy hh:mm:ss"}}
              </td>
              <td>
                <a (click)="viewInvoiceDetail(invoices.voucherNo)" style="color:blue;" class="invoiceNo">{{invoices.voucherNo}} </a>
              </td>
              <td>
                {{invoices.glComments}}
            </td>
          </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
          <tr>
              <td colspan="7" translate>No Record found.</td>
          </tr>
      </ng-template>
  </p-table>
</div>


<p-dialog [modal]="true" [(visible)]="Reportvisible" [style]="{width: '60vw'}">
  <div class="container" *ngIf="Reportvisible">
      <app-invoices [voucherName]="invoiceNo" [isBankInfo]="isBankInfo" [isProductCode]="isProductCode" [isArabic]="isArabic" [type]="printtype"></app-invoices>
  </div>
</p-dialog>

<p-dialog #cstDailog [modal]="true" [(visible)]="reportSettingVisiblity" [style]="{width: '40vw'}">
<app-invoice-report-settings [screenName]="'Sale'" (dataEvent)="handleChildData($event)"></app-invoice-report-settings>
</p-dialog>
