<div class="container">
  <h4 style="border-left: 3px solid blue;" translate>&nbsp;{{title}}</h4>
  <pre></pre>
  <div class="row">
      <div class="col-12">
          <div class="col-12">
            <label class="col-form-label date-label col-4 required" translate>Screen Parent <span>:</span></label>
            <p-autoComplete #inputField pAutoFocus [autofocus]="true" [(ngModel)]="SelectedParent" [suggestions]="filterScreen"  (completeMethod)="filtersScreen($event)" (keyup.enter)="onEnterTableInputCst(5)"
            field="screenName" value="screenID" class="col-8" [minLength]="1" [dropdown]="true" ></p-autoComplete>
         </div>
          <br>
          <div class="col-12">
              <label class="col-form-label date-label col-4 required" translate>Screen Name <span>:</span></label>
              <input pInputText id="value" #inputFieldTableCOA (keyup.enter)="onEnterTableInputCst(0)" pAutoFocus class="col-form-label col-8" name="value"  [(ngModel)]="ScreenList[0].screenName">
          </div>
          <br>
          <div class="col-12">
            <label class="col-form-label date-label col-4 required" translate>Path <span>:</span></label>
            <input pInputText id="value" #inputFieldTableCOA (keyup.enter)="onEnterTableInputCst(1)" class="col-form-label col-8" name="value"  [(ngModel)]="ScreenList[0].path">
          </div>
          <br>

          <!-- <div class="col-12">
            <label class="col-form-label date-label col-4 required">is Default <span>:</span></label>
            <p-inputSwitch [(ngModel)]="taxList[0].isDefault"></p-inputSwitch>
          </div>
          <br> -->
          <div class="col-12">
              <button #savebtn (click)="saveScreen()" translate class="btn btn-outline-primary col-5">Save</button>&nbsp;
              <button #cancelbtn (click)="sendDataToParent()" translate class="btn btn-outline-danger col-5">Cancel</button>
          </div>
      </div>
  </div>
</div>
