<div class="card">
  <div class="row">
      <div class="col-12">
          <h4 translate>&nbsp;Categories Confirmation</h4>
          <p style="color: red !important">Confirm you want to add all these new categories?</p>
      </div>
      <!-- <div class="col-6" style="text-align: right;">
      <button pButton type="button" icon="pi pi-plus" [routerLink]="'./../AddNewSale'" style="padding: 0.5rem !important;">Add New</button>
      </div> -->
  </div>
      <p-table #dt1 [value]="ProductCategorylist" styleClass="p-datatable-striped" [globalFilterFields]="['prodGrpName']" dataKey="" scrollHeight="100px" [scrollable]="true" scrollDirection="vertical">
      <!-- <ng-template pTemplate="caption">


          <div class="table-header row" style="margin-top: 8px;margin-bottom: 8px;">
              <div class="col-md-6">
                <span class="p-input-icon-left ml-auto">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text" (input)="dt1.filterGlobal($any($event.target).value, 'contains')"  [placeholder]="'Search keyword' | translate" />
                </span>
              </div>
              <div class="col-md-6" style="text-align:right !important;">
                <span class="p-buttonset">
                  <button  class="p-button p-button-sm p-button-success btns" translate (click)="CreatePurchaseOrder()" title="Create Purchase Order"><i class="pi pi-plus"></i> &nbsp; Create Purchase Order</button>
                </span>
              </div>
            </div>
      </ng-template> -->
      <ng-template pTemplate="header">
          <tr>
              <th style="min-width:12rem" translate>
                    Catergory Name
              </th>
              <!-- <th th style="min-width:11rem">

              </th> -->
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-list>
          <tr>
              <td>
                {{list.prodGrpName}}
              </td>
          </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
          <tr>
              <td translate colspan="7">No Record found.</td>
          </tr>
      </ng-template>
  </p-table>
<br>
  <div class="col-11" style="text-align: right;">
    <button #savebtn (click)="sendDataToParent(true)" translate class="btn btn-primary col-3"><i class="fa fa-save"></i>  Save</button>&nbsp;
    <button #cancelbtn (click)="sendDataToParent(false)" translate class="btn btn-danger col-3"><i class="fa fa-undo"></i> Cancel</button>
  </div>
</div>


