@{
    ViewBag.Title = "Home Page";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Index</title>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
</head>
<body>

    <div>
        Hello jquery 
    </div>
</body>
</html>

<script>

    $(document).ready(function () {
        alert("hello jqury ");
    })
</script>