  <!-- Step Layout -->
<!-- <div class="step-container">
    <div class="step" [ngClass]="{'active':ShowCompanyForm}" id="step-1">
        <span>1</span>Company Data
    </div>
    <div class="step" [ngClass]="{'active':ShowLocationForm}" id="step-2">
        <span>2</span>Add Location
    </div>
    <div class="step" [ngClass]="{'active':ShowUserForm}" id="step-4">
        <span>3</span>User Registration
    </div>
</div>
<app-company-config *ngIf="ShowCompanyForm" (showNextEvent)="ShowNext($event)"></app-company-config>
<app-location-config *ngIf="ShowLocationForm" (showNextEvent2)="ShowNext($event)"></app-location-config>
<app-user-config *ngIf="ShowUserForm"></app-user-config> -->



