<div *ngIf="companyCse">

  <app-gird
  tableheading="Company CSE"
  [columns]="cols"
  [data]="companyCse"
  [rowcount]=100
  [allowColSort]="false"
  [allowColFilter]="false"
  [allowGlobalFilter]="true"
  [allowActionButtons]="true"
  [allowUploadButtons]="false"
  (dataEvent)="handleChildData($event)"
>
</app-gird>

</div>


<p-dialog #cstDailog [(visible)]="cseVisible" [modal]="true" [style]="{width: '60vw'}">
  <app-add-new-mse [companyCSE]="cseList" [title]="title" (dataEvent)="handleChildData($event)"></app-add-new-mse>
</p-dialog>
