<div class="card">
  <div class="row">
    <div class="col-12">
      <h4 style="border-left: 3px solid #3B82F6;">&nbsp;{{heading}}
      
      <a *ngIf="!bookmark" (click)="UpdateBookmark(true)" title="Add Bookmark">
          <i class="pi pi-bookmark" style="font-size: 1.5rem;"></i>
        </a>
        <a *ngIf="bookmark" (click)="UpdateBookmark(false)" title="Remove Bookmark">
          <i class="pi pi-bookmark-fill" style="font-size: 1.5rem;"></i>
        </a>
      </h4>
      <p style="color: red; font-size: medium;">&nbsp;You can Drag and Drop to move Provice to any Region!</p>
    </div>
    <div class="col-12">
      <p-treeTable #dt1 [value]="files" selectionMode="single" [(selection)]="selectedRow"
        [scrollable]="true" [tableStyle]="{'min-width':'50rem'}" scrollHeight="330px" rowExpandMode="single"
        [globalFilterFields]="['name']" (onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="nodeUnselect($event)"
        dragdrop (onNodeDrop)="onNodeDrop($event)"
        >

        <ng-template pTemplate="caption">
          <div class="table-header row">
            <div class="col-md-6">
              <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt1.filterGlobal($any($event.target).value, 'contains')"
                       [placeholder]="'Search keyword'|translate" />
              </span>
            </div>
            <div class="col-md-6" style="text-align:right !important;">
              <span class="p-buttonset">
                <button pButton type="button" label="Expand all" (click)="expandAll()"
                        class="mr-2 btns" style="margin-right: 5px;"></button>
                <button pButton type="button" label="Collapse all" (click)="collapseAll()"
                        class="btns" style="margin-right: 5px;"></button>
                <p-button (onClick)="onAdd()" icon="pi pi-plus" styleClass="p-button-rounded p-button-secondary btns"
                          [style]="{'margin-right': '5px'}" title="Add"></p-button>
                <p-button (onClick)="onEdit()" icon="pi pi-pencil" styleClass="p-button-rounded p-button-success btns"
                          [style]="{'margin-right': '5px'}" title="Edit"></p-button>
                <p-button (onClick)="onDelete()" icon="pi pi-trash" styleClass="p-button-rounded p-button-danger btns"
                          title="Delete"></p-button>
              </span>
            </div>
          </div>
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th class="col-6" translate>Location Name</th>
            <th class="col-6" translate>Type</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
          <tr [ttRow]="rowNode" [ttSelectableRow]="rowNode"
          draggable="true" (dragstart)="onDragStart($event, rowData)"
          (dragover)="onDragOver($event, rowData)" (drop)="onDrop($event, rowData)">


            <td class="col-6">
              <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
              {{ rowData.name | translate }}
            </td>
            <td class="col-6">
                {{ShowlocationType(rowData.level) | translate}}
            </td>
          </tr>
        </ng-template>

      </p-treeTable>
    </div>
  </div>
</div>

<!-- <p-dialog #cstDailog [modal]="true" [(visible)]="AddNewLocationVisibility" [style]="{width: '40vw'}" (onHide)="hide()">
  <app-add-location [title]="title" [parentID]="parentID" [isEdit]="IsEdit"
                    [locationData]="locationData" (dataEvent)="handleChildData($event)">
  </app-add-location>
</p-dialog> -->

<p-dialog #cstDailog  [modal]="true" [(visible)]="AddNewLocationVisibility" [style]="{width: '40vw'}">
  <app-add-location [LocData]="locList" [title]="title" [parentLabel]="parentLabel" [childLabel]="childLabel" [isEdit]="IsEdit" (dataEvent)="handleChildData($event)"></app-add-location>
</p-dialog>
