<div class="container">
  <h4 translate>{{title}}</h4>
  <div style="border-Top: 3px solid #eee;"  class="row">
      <div class="col-12">
          <div class="col-12">
              <label class="col-form-label date-label col-12 required" translate>Year</label>
              <input pInputText #inputFieldTableCOA (keyup.enter)="onEnterTableInputCst(0)" id="name" class="col-form-label col-12" name="name" maxlength="4"  (keypress)="($event.charCode >= 46 && $event.charCode < 58)" [(ngModel)]="FYList[0].period" autofocus/>
          </div>

          <div class="col-12">
            <label class="col-form-label date-label col-12 required" translate>Start Date</label>
            <p-calendar styleClass="col-12"  [panelStyle]="{'height':'200px','overflow':'auto'}" (onSelect)="ChangeEndDate()" (onBlur)="ChangeEndDate()" [(ngModel)]="startDate" [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>
          </div>

          <div class="col-12">
            <label class="col-form-label date-label col-12 required" translate>End Date</label>
            <p-calendar  styleClass="col-12" [disabled]="true" [(ngModel)]="endDate" [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>
          </div>

          <!-- <div class="col-12">
            <label class="col-form-label date-label col-12 required" translate>Active</label>
            <p-inputSwitch [(ngModel)]="FYList[0].active"></p-inputSwitch>
          </div> -->
          <!-- <div class="col-12">
            <label class="col-form-label date-label col-4 required">is Default</label>
            <p-inputSwitch [(ngModel)]="taxList[0].isDefault"></p-inputSwitch>
          </div>
           -->
           <br>
          <div class="col-12" style="text-align: right;">
              <button #savebtn (click)="saveFY()" translate class="btn btn-primary col-3"><i class="fa fa-save"></i> Save</button>&nbsp;
              <button #cancelbtn (click)="sendDataToParent()" translate class="btn btn-danger col-3"><i class="fa fa-undo"></i> Cancel</button>
          </div>
      </div>
  </div>
</div>
