
<div class="card">
  <div class="row">
    <div class="col-12">
      <h4 style="border-left: 3px solid #3B82F6;" translate>&nbsp;Purchase Return
        <i class="pi pi-times-circle" (click)="confirmDailog('close')" style="font-size: 1.5rem; float:right"></i>
        <a (click)="ChangeIsShowDetail()" *ngIf="isShowSideBar" style="float:right; margin-right: 8px;">{{isShowDetails? 'Show Details':'Hide Details'}}</a>
      </h4>
    </div>
      <div [ngClass]="isShowDetails || !isShowSideBar ? 'col-12' : 'col-9'">
          <div class="row">
              <!-- <label class="col-form-label date-label col-4 required">Invoice No</label>  -->

              <label class="col-form-label date-label col-3 required" translate>Date</label>
              <!-- <label class="col-form-label Type-label col-3 required" translate>Type</label> -->
              <label class="col-form-label customer-label col-3 required" translate>Supplier Name
                <div class="custom-tooltip">
                  <i class="fa fa-info-circle"></i>
                  <div class="tooltip-text">
                    To create a new Supplier, you can use a simple keyboard shortcut. First, click on the Supplier dropdown menu. Then, press ALT + C on your keyboard. This will open a window where you can enter the details of the new Supplier
                  </div>
                </div>
              </label>
               <!-- <label class="col-form-label Vendor-label col-3 required" translate>Return Invoice No</label> -->
               <label class="col-form-label Vendor-label col-3 required" translate>Location</label>

          </div>
          <div class="row">
              <!-- <div class="col-4">
                  <p-inputNumber [disabled]="true" (keyup.enter)="onEnterComplex(0)" [useGrouping]="false" placeholder="SVN-00000000" [(ngModel)]="invoiceNo1"prefix="SVN-"></p-inputNumber>
              </div> -->

              <div class="col-3">
                  <p-calendar #calender #inputField (keyup.enter)="onEnterComplex(0)" [(ngModel)]="selectedDate" [minDate]="maxDate" [maxDate]="maxDate"   [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>
              </div>

              <!-- <div class="col-3">
                <p-autoComplete #inputField pAutoFocus [autofocus]="true" [(ngModel)]="SelectedType[0]" [suggestions]="filterType"  (completeMethod)="filtersType($event)" (keyup.enter)="onEnterComplex(1)"
                field="name" [minLength]="1" [dropdown]="true" ></p-autoComplete>
              </div> -->

              <div class="col-3">
                  <p-autoComplete #inputField  [(ngModel)]="selectedCustomerName" [suggestions]="customerList" (keydown)="VendorsVisible($event)"  (completeMethod)="filterCustomer($event)" (keyup.enter)="onEnterComplex(2)"
                  field="vendName" value="vendID" [minLength]="1" [disabled]="disable" [dropdown]="true" (onSelect)="VendorOnChange()">
                  <ng-template let-vendor pTemplate="item">
                    <div>{{vendor.vendCode}} - {{vendor.vendName}}</div>
                  </ng-template>
                </p-autoComplete>
              </div>

              <!-- <div class="col-3">
                <p-dropdown #inputField [options]="GRNInvoiceList"  [(ngModel)]="selectedVoucherNo"  styleClass="col-12" optionLabel="invoiceVoucherNo" optionValue="invoiceVoucherNo" (onChange)="InvoiceOnChange()" (keyup.enter)="onEnterComplex(3)"></p-dropdown>
              </div> -->

              <div class="col-3">
                <p-autoComplete #inputField  [(ngModel)]="selectedLocation" [suggestions]="LocationList"  (completeMethod)="filterLocation($event)" (keyup.enter)="onEnterComplex(3)"
                field="LocationName" value="LocationId" [minLength]="1" [dropdown]="true" ></p-autoComplete>
              </div>
          </div>
          <br>
          <p-table #dt [value]="productlist" dataKey="prodID" editMode="row" styleClass="p-datatable-sm" [scrollable]="true" class="AddTable" scrollHeight="300px" scrollDirection="vertical">
            <ng-template pTemplate="header">
              <tr>
                  <th rowspan="2" translate pFrozenColumn style="min-width: 130px !important; z-index:2">Bar Code</th>
                  <th rowspan="2" translate pFrozenColumn style="min-width: 180px !important; z-index:2">Product Name
                    <div class="custom-tooltip">
                      <i class="fa fa-info-circle"></i>
                      <div class="tooltip-text">
                        To create a new product, you can use a simple keyboard shortcut. First, click on the Product dropdown menu. Then, press ALT + C on your keyboard. This will open a window where you can enter the details of the new product
                      </div>
                    </div>
                  </th>
                  <th rowspan="2" style="text-align: center;" pFrozenColumn style="min-width: 80px !important;"  translate>Unit</th>
                  <th rowspan="2" style="text-align: center;"  translate>Available Qty</th>
                  <th rowspan="2" style="text-align: center;"  translate>Qty</th>
                  <th rowspan="2" style="text-align: center;"  translate>Price</th>
                  <th rowspan="2" style="text-align: center;"  translate >Gross Value</th>
                  <th rowspan="2" style="text-align: center;"  translate>Bouns Qty</th>
                  <th rowspan="2" style="text-align: center;"  translate>Batch #</th>
                  <th rowspan="2" style="text-align: center;"  translate>Expiry Date</th>
                  <th colspan="2" style="text-align: center;     border-bottom: 1px solid;">
                    Discount
                  </th>
                  <th rowspan="2" style="text-align: center;" translate>Disc Gross</th>
                  <th colspan="2" style="text-align: center;    border-bottom: 1px solid;" translate>{{this.taxesList[0].TaxName}}</th>
                  <th colspan="2" style="text-align: center;    border-bottom: 1px solid;" translate>Tax</th>
                  <th colspan="2" style="text-align: center;    border-bottom: 1px solid;" translate>Extra Discount</th>
                  <th colspan="2" style="text-align: center;    border-bottom: 1px solid;" translate>Extra Tax</th>
                  <th rowspan="2"  style="text-align: center; "translate>Net Amount before Rebate</th>
                  <th colspan="2" style="text-align: center;     border-bottom: 1px solid;" translate>Rebate</th>
                  <th rowspan="2" style="text-align: center;"  translate>Net Amount</th>
                  <th rowspan="2" style="text-align: center;"  translate>Net Rate</th>
                  <!-- <th rowspan="2" style="text-align: center;"  translate>M.R.P (Per Unit)</th>
                  <th rowspan="2" style="text-align: center;"  translate>Sell Rate (Per Unit)</th>
                  <th rowspan="2" style="text-align: center;"  translate>Last Cost</th>
                  <th rowspan="2" style="text-align: center;"  translate>Diff</th>
                  <th rowspan="2" style="text-align: center;"  translate>Notes</th> -->
                  <th rowspan="2"></th>
              </tr>
              <tr>
                <th style="text-align: center;"> %</th>
                <th style="text-align: center;"> Amount</th>
                <th style="text-align: center;"> %</th>
                <th style="text-align: center;"> Amount</th>
                <th style="text-align: center;"> %</th>
                <th style="text-align: center;"> Amount</th>
                <th style="text-align: center;"> %</th>
                <th style="text-align: center;"> Amount</th>
                <th style="text-align: center;"> %</th>
                <th style="text-align: center;"> Amount</th>
                <th style="text-align: center;"> %</th>
                <th style="text-align: center;"> Amount</th>
              </tr>
          </ng-template>
              <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
                <tr (click)="activeAllModule(ri)" [style.background-color]="ri == rowNmb ? 'gray' : ''">
                    <td pFrozenColumn style="z-index: 1;">
                        <p-autoComplete  #inputField [(ngModel)]="rowData.barCode" [minLength]="1" [disabled]="!selectedCustomerName"  (keyup.enter)="onCodeChange(rowData.barCode, ri, $event)" (onBlur)="onCodeChange(rowData.barCode, ri, $event)" class="girdRow girdRowCode codeInput" [style]="{ 'width':'100%'}"></p-autoComplete>
                    </td>
                    <td pFrozenColumn style="z-index: 1;">
                      <p-autoComplete #inputField styleClass="myclass"  appendTo="body" [disabled]="!selectedCustomerName" [(ngModel)]="rowData.prodName" [suggestions]="Filterproductlist" (completeMethod)="filterProduct($event)"
                      field="prodName" value="prodBCID" [minLength]="1" (keydown)="productVisible($event)" (keyup.enter)="onChange(rowData,ri, autoComplete3)" (onBlur)="onChange(rowData,ri, autoComplete3)" class="myClass girdRow" [style]="{ 'width':'100% !important','min-width':'100%'}" #autoComplete3 (onFocus)="autoComplete3.show()"></p-autoComplete>
                    </td>
                    <td pFrozenColumn style="z-index: 1;">
                      <p-autoComplete
                      #inputField
                      [(ngModel)]="rowData.unit"
                      [suggestions]="rowData.units"
                      [field]="'unitType'"
                      [disabled]="!rowData.prodName"
                      [minLength]="1"
                      appendTo="body"
                      class="girdRow girdRowCode"
                      [style]="{ 'width': '100%' }"
                      #autoComplete4
                      (onFocus)="autoComplete4.show()"
                      (onBlur)="autoComplete4.hide()"
                      (completeMethod)="filterUnitSuggestions(rowData)"
                      (keyup.enter)="onEnterTableInput(0,ri)"
                      (onSelect)="onUnitSelect($event,rowData,ri)"
                      >
                    </p-autoComplete>
                    </td>
                    <td>
                      <input #inputFieldTable [style]="{'width':'51px', 'text-align':'right'}" pInputText [disabled]="!rowData.barCode && !rowData.prodName || isDisabled" (keyup.enter)="onEnterTableInput(0, ri)" (keypress)="($event.charCode >= 47 && $event.charCode < 58)" class="p-inputtext-sm" type="text" [(ngModel)]="rowData.qtyBal" class="girdRow">
                    </td>
                    <td>
                        <input #inputFieldTable [style]="{'width':'51px', 'text-align':'right'}" pInputText [disabled]="!rowData.barCode && !rowData.prodName" (keyup.enter)="onEnterTableInput(25, ri)" (keypress)="($event.charCode >= 47 && $event.charCode < 58)" class="p-inputtext-sm" type="text" [(ngModel)]="rowData.qty" (change)="updateQtyBal(rowData, ri)" class="girdRow">
                    </td>
                    <td>
                        <input #inputFieldTable [style]="{'width':'75px', 'text-align':'right'}" pInputText [disabled]="!rowData.barCode && !rowData.prodName || isDisabled" (keyup.enter)="onEnterTableInput(1, ri)" (keypress)="($event.charCode >= 46 && $event.charCode < 58)" class="p-inputtext-sm" type="text" [(ngModel)]="rowData.purchRate" (ngModelChange)="Itemcalculation(ri)" class="girdRow">
                    </td>
                    <td>
                        <input #inputFieldTable [style]="{'width':'75px', 'text-align':'right'}" (keyup.enter)="onEnterTableInput(2, ri)" pInputText [disabled]="!rowData.barCode && !rowData.prodName || isDisabled" class="p-inputtext-sm" type="text" [(ngModel)]="rowData.grossValue" readonly class="girdRow">
                    </td>
                    <td>
                      <input #inputFieldTable [style]="{'width':'51px', 'text-align':'right'}" pInputText [disabled]="!rowData.barCode && !rowData.prodName || isDisabled" (keyup.enter)="onEnterTableInput(3, ri)" class="p-inputtext-sm" (keypress)="($event.charCode >= 47 && $event.charCode < 58)" type="text" [(ngModel)]="rowData.bonusQty" (ngModelChange)="updateQtyBal(rowData, ri)" class="girdRow">
                    </td>
                    <td>
                        <input #inputFieldTable [style]="{'width':'80px'}" pInputText [disabled]="!rowData.barCode && !rowData.prodName || isDisabled" (keyup.enter)="onEnterTableInput(4, ri)" type="text" [(ngModel)]="rowData.batchNo" class="girdRow">
                    </td>
                    <td>
                      <input
                      type="text"
                      [disabled]="!rowData.barCode && !rowData.prodName || isDisabled"
                      #inputFieldTable
                      appDateMask
                      [(ngModel)]="rowData.expiryDate"
                      class="date-input"
                      placeholder="dd-MM-yyyy"
                      (keyup.enter)="onEnterTableInput(5, ri)"
                    />
                    </td>
                    <td>
                        <input #inputFieldTable [style]="{'width':'42px', 'text-align':'right'}" pInputText [disabled]="!rowData.barCode && !rowData.prodName || isDisabled" (keyup.enter)="onEnterTableInput(6, ri)" type="text" [(ngModel)]="rowData.discount" name="discount" (ngModelChange)="Itemcalculation(ri)" class="girdRow">
                    </td>
                    <td>
                        <input #inputFieldTable [style]="{'width':'70px', 'text-align':'right'}" pInputText [disabled]="!rowData.barCode && !rowData.prodName || isDisabled" type="text" (keyup.enter)="onEnterTableInput(7, ri)" [(ngModel)]="rowData.discountAmount" name="discountAmount" (ngModelChange)="Itemcalculation(ri)" class="girdRow">
                    </td>
                    <td>
                        <input #inputFieldTable [style]="{'width':'75px', 'text-align':'right'}" pInputText [disabled]="!rowData.barCode && !rowData.prodName || isDisabled" type="text" (keyup.enter)="onEnterTableInput(8, ri)" [(ngModel)]="rowData.discountedGross" readonly class="girdRow">
                    </td>
                    <td>
                        <input #inputFieldTable [style]="{'width':'42px', 'text-align':'right'}" pInputText [disabled]="!rowData.barCode && !rowData.prodName || isDisabled" type="text" (keyup.enter)="onEnterTableInput(9, ri)" [(ngModel)]="rowData.taxPercent" name="tax" (ngModelChange)="Itemcalculation(ri)" class="girdRow">
                    </td>
                    <td>
                        <input #inputFieldTable [style]="{'width':'70px', 'text-align':'right'}" pInputText [disabled]="!rowData.barCode && !rowData.prodName || isDisabled" type="text" (keyup.enter)="onEnterTableInput(10, ri)" [(ngModel)]="rowData.taxAmount" name="taxAmount" (ngModelChange)="Itemcalculation(ri)" class="girdRow">
                    </td>
                    <td>
                      <input #inputFieldTable [style]="{'width':'42px', 'text-align':'right'}" pInputText  [disabled]="!rowData.barCode && !rowData.prodName || isDisabled" type="text" (keyup.enter)="onEnterTableInput(11, ri)" [(ngModel)]="rowData.extraAdvanceTaxPercent" name="extraTax" (ngModelChange)="Itemcalculation(ri)" class="girdRow">
                    </td>
                    <td>
                        <input #inputFieldTable [style]="{'width':'70px', 'text-align':'right'}" pInputText [disabled]="!rowData.barCode && !rowData.prodName || isDisabled" type="text" (keyup.enter)="onEnterTableInput(12, ri)" [(ngModel)]="rowData.extraAdvanceTaxAmount" name="extraTaxAmount" (ngModelChange)="Itemcalculation(ri)" class="girdRow">
                    </td>
                    <td>
                        <input #inputFieldTable [style]="{'width':'42px', 'text-align':'right'}" pInputText [disabled]="!rowData.barCode && !rowData.prodName || isDisabled" type="text" (keyup.enter)="onEnterTableInput(13, ri)" [(ngModel)]="rowData.extraDiscountPercent" name="extraDiscount" (ngModelChange)="Itemcalculation(ri)" class="girdRow">
                    </td>
                    <td>
                        <input #inputFieldTable [style]="{'width':'70px', 'text-align':'right'}" pInputText [disabled]="!rowData.barCode && !rowData.prodName || isDisabled" type="text" (keyup.enter)="onEnterTableInput(14, ri)" [(ngModel)]="rowData.extraDiscountAmount" name="extraDiscountAmount" (ngModelChange)="Itemcalculation(ri)" class="girdRow">
                    </td>
                    <td>
                        <input #inputFieldTable [style]="{'width':'42px', 'text-align':'right'}" pInputText [disabled]="!rowData.barCode && !rowData.prodName || isDisabled" type="text" (keyup.enter)="onEnterTableInput(15, ri)" [(ngModel)]="rowData.advanceTaxPercent" name="advanceTax" (ngModelChange)="Itemcalculation(ri)" class="girdRow">
                    </td>
                    <td>
                        <input #inputFieldTable [style]="{'width':'70px', 'text-align':'right'}" pInputText [disabled]="!rowData.barCode && !rowData.prodName || isDisabled" type="text" (keyup.enter)="onEnterTableInput(16, ri)" [(ngModel)]="rowData.advanceTaxAmount" name="advanceTaxAmount" (ngModelChange)="Itemcalculation(ri)" class="girdRow">
                    </td>
                    <td>
                        <input #inputFieldTable [style]="{'width':'70px', 'text-align':'right'}" pInputText [disabled]="!rowData.barCode && !rowData.prodName || isDisabled" type="text" (keyup.enter)="onEnterTableInput(17, ri)" [(ngModel)]="rowData.netAmountBeforeRebate" readonly (ngModelChange)="Itemcalculation(ri)" class="girdRow">
                    </td>
                    <td>
                        <input #inputFieldTable [style]="{'width':'42px', 'text-align':'right'}" pInputText [disabled]="!rowData.barCode && !rowData.prodName || isDisabled" type="text" (keyup.enter)="onEnterTableInput(18, ri)" [(ngModel)]="rowData.rebatePercent" name="rebate" (ngModelChange)="Itemcalculation(ri)" class="girdRow">
                    </td>
                    <td>
                        <input #inputFieldTable [style]="{'width':'70px', 'text-align':'right'}" pInputText [disabled]="!rowData.barCode && !rowData.prodName || isDisabled" type="text" (keyup.enter)="onEnterTableInput(19, ri)" [(ngModel)]="rowData.rebateAmount" name="rebateAmount" (ngModelChange)="Itemcalculation(ri)" class="girdRow">
                    </td>
                    <td>
                        <input #inputFieldTable [style]="{'width':'70px', 'text-align':'right'}" pInputText [disabled]="!rowData.barCode && !rowData.prodName || isDisabled" type="text" (keyup.enter)="onEnterTableInput(20, ri)" [(ngModel)]="rowData.netAmount" readonly class="girdRow">
                    </td>
                    <td>
                        <input #inputFieldTable [style]="{'width':'70px', 'text-align':'right'}" pInputText [disabled]="!rowData.barCode && !rowData.prodName || isDisabled" type="text" (keyup.enter)="onEnterTableInput(21, ri)" [(ngModel)]="rowData.netRate" readonly class="girdRow">
                    </td>
                    <!-- <td>
                        <input #inputFieldTable [style]="{'width':'70px', 'text-align':'right'}" pInputText [disabled]="!rowData.barCode && !rowData.prodName || isDisabled" type="text" (keyup.enter)="onEnterTableInput(22, ri)" [(ngModel)]="rowData.mrp" class="girdRow">
                    </td>
                    <td>
                        <input #inputFieldTable [style]="{'width':'70px', 'text-align':'right'}" pInputText [disabled]="!rowData.barCode && !rowData.prodName || isDisabled" type="text" (keyup.enter)="onEnterTableInput(23, ri)" [(ngModel)]="rowData.sellingPrice" class="girdRow">
                    </td>
                    <td>
                        <input #inputFieldTable [style]="{'width':'70px', 'text-align':'right'}" pInputText [disabled]="!rowData.barCode && !rowData.prodName || isDisabled" type="text" (keyup.enter)="onEnterTableInput(24, ri)" [(ngModel)]="rowData.lastCost" readonly class="girdRow">
                    </td>
                    <td>
                        <input #inputFieldTable [style]="{'width':'70px', 'text-align':'right'}" pInputText [disabled]="!rowData.barCode && !rowData.prodName || isDisabled" type="text" (keyup.enter)="onEnterTableInput(25, ri)" [(ngModel)]="rowData.diff" readonly class="girdRow">
                    </td>
                    <td>
                      <input #inputFieldTable [style]="{'width':'100px'}" pInputText [disabled]="!rowData.barCode && !rowData.prodName || isDisabled" type="text" (keyup.enter)="onEnterTableInput(26, ri)" [(ngModel)]="rowData.notes" class="girdRow">
                    </td>-->
                    <td>
                      <button pButton type="button" icon="pi pi-trash" (click)="onRowDeleteInit(rowData,ri)" class="p-button-rounded p-button-text" [style]="{'height': '32px !important','width': '30px !important',color:'var(--gray-900)'}"></button>
                  </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer">
              <tr>

                  <td pFrozenColumn>
                    <button #newRowButton pButton type="button" icon="pi pi-plus" [label]="'Add' | translate"
                    pAddRow [table]="dt" [newRow]="newRow()" (click)="focusing()" [style]="{'margin-top': '10px !important','height':'25px !important'}"></button>
                  </td>

                      <td></td>
                      <td pFrozenColumn>Total:</td>
                      <td style="text-align: right;">{{ sumField('qtyBal') }}</td>
                      <td style="text-align: right;">{{ sumField('qty') }}</td>
                      <td style="text-align: right;">{{ sumField('purchRate') }}</td>
                      <td style="text-align: right;">{{ sumField('grossValue') }}</td>
                      <td style="text-align: right;">{{ sumField('bonusQty') }}</td>
                      <td></td> <!-- Batch -->
                      <td></td> <!-- Expiry -->
                      <td style="text-align: right;">{{ sumField('discount') }}</td>
                      <td style="text-align: right;">{{ sumField('discountAmount') }}</td>
                      <td style="text-align: right;">{{ sumField('discountedGross') }}</td>
                      <td style="text-align: right;">{{ sumField('taxPercent') }}</td>
                      <td style="text-align: right;">{{ sumField('taxAmount') }}</td>
                      <td style="text-align: right;">{{ sumField('extraAdvanceTaxPercent') }}</td>
                      <td style="text-align: right;">{{ sumField('extraAdvanceTaxAmount') }}</td>
                      <td style="text-align: right;">{{ sumField('extraDiscountPercent') }}</td>
                      <td style="text-align: right;">{{ sumField('extraDiscountAmount') }}</td>
                      <td style="text-align: right;">{{ sumField('advanceTaxPercent') }}</td>
                      <td style="text-align: right;">{{ sumField('advanceTaxAmount') }}</td>
                      <td style="text-align: right;">{{ sumField('netAmountBeforeRebate') }}</td>
                      <td style="text-align: right;">{{ sumField('rebatePercent') }}</td>
                      <td style="text-align: right;">{{ sumField('rebateAmount') }}</td>
                      <td style="text-align: right;">{{ sumField('netAmount') }}</td>
                      <td style="text-align: right;">{{ sumField('netRate') }}</td>
                      <!-- <td style="text-align: right;">{{ sumField('mrp') }}</td>
                      <td style="text-align: right;">{{ sumField('sellingPrice') }}</td>
                      <td style="text-align: right;">{{ sumField('lastCost') }}</td>
                      <td style="text-align: right;">{{ sumField('diff') }}</td>
                      <td></td> -->
                      <td></td> <!-- Action -->
                    </tr>
            </ng-template>
          </p-table>
          <!-- <div class="col-12">
            <label class="col-form-label date-label col-2 required" translate>Total Amount</label>
            <input #inputFieldTable [style]="{'width':'70px', 'text-align':'right', 'color':'black','font-weight':'bold'}" pInputText type="text" [(ngModel)]="totalNetPayable" [disabled]="true" class="girdRow">
            <label class="col-form-label date-label col-2 required" translate>Total Return Amount</label>
            <input #inputFieldTable [style]="{'width':'70px', 'text-align':'right', 'color':'black','font-weight':'bold'}" pInputText type="text" [(ngModel)]="returnTotalAmount" [disabled]="true" class="girdRow">
          </div> -->


          <br/>
          <button #savebtn (click)="saveInvoice()" translate  [disabled]="savebtnDisable" class="btn btn-primary col-2"><i class="fa fa-save"></i> Save</button>
          <button #cancelbtn (click)="confirmDailog('cancel')" translate style="margin-left: 10px;" class="btn btn-danger col-2"><i class="fa fa-undo"></i> Reset</button>
          <button #cancelbtn (click)="confirmDailog('close')"   style="margin-left: 10px;" class="btn btn-danger" translate><i class="fa fa-close"></i> Close</button>

      </div>
      <div [ngClass]="isShowDetails || !isShowSideBar ? 'd-none' : 'col-3'">
         <div class="row" style="margin-top: 20px; background-color:black;color: white; height: 30px !important;cursor: pointer;" (click)="showProductDetails()">
              <h4 class="col-9" style="color:white">Product Detail</h4>
              <i class="pi pi-angle-up col-3" *ngIf="ProductDetailShow" style="font-size: 2rem; float: right;padding: 0px !important;text-align: right;padding-right: 5px !important;" ></i>
              <i class="pi pi-angle-down col-3" *ngIf="!ProductDetailShow" style="font-size: 2rem; float: right;padding: 0px !important;text-align: right;padding-right: 5px !important;"></i>
          </div>
          <div class="row" *ngIf="ProductDetailShow && productlist && productlist.length > 0">
            <div class="col-12" style="border-radius: 10px;">
              <label class="col-6 required"><strong>BRAND</strong></label>
              <label class="col-6" style="text-align: right;" name="prodGrpName">
                {{ (productlist[rowNmb] && productlist[rowNmb].prodGrpName) ? productlist[rowNmb].prodGrpName : '' }}
              </label>

              <label class="col-6 required"><strong>Department</strong></label>
              <label class="col-6" style="text-align: right;" name="department">
                {{ (productlist[rowNmb] && productlist[rowNmb].depName) ? productlist[rowNmb].depName : '' }}
              </label>

              <label class="col-6 required"><strong>Category</strong></label>
              <label class="col-6" style="text-align: right;" name="category">
                {{ (productlist[rowNmb] && productlist[rowNmb].categoryName) ? productlist[rowNmb].categoryName : '' }}
              </label>

              <label class="col-6 required"><strong>Manufacture</strong></label>
              <label class="col-6" style="text-align: right;" name="manufacture">
                {{ (productlist[rowNmb] && productlist[rowNmb].prodManuName) ? productlist[rowNmb].prodManuName : '' }}
              </label>

              <label class="col-6 required"><strong>Current Stock</strong></label>
              <label class="col-6" style="text-align: right;" name="currentStock">
                {{ (productlist[rowNmb] && productlist[rowNmb].currentStock) ? productlist[rowNmb].currentStock : 0 }}
              </label>

            </div>
          </div>
          <div class="row" style="margin-top: 20px; background-color:var(--surface-900);color: var(--surface-0);padding:4px; height: 35px !important;" (click)="showInvoiceDetails()">
            <h4 class="col-9" style="color: var(--surface-0);" translate>Invoice Detail</h4>
            <i class="pi pi-angle-up col-3" *ngIf="invoiceDetailShow" style="font-size: 2rem; float: right;padding: 0px !important;text-align: right;padding-right: 5px !important;"></i>
            <i class="pi pi-angle-down col-3"  *ngIf="!invoiceDetailShow" style="font-size: 2rem; float: right;padding: 0px !important;text-align: right;padding-right: 5px !important;"></i>
        </div>
        <div class="row" *ngIf="invoiceDetailShow">
            <div class="summary-section">
              <!-- Total Gross Amount -->
              <label class="col-6 fw-bold">Total Gross:</label>
              <label class="col-6" style="text-align: right;">{{totalGross | number:'1.2-2'}}</label>
              <!-- Total Discount -->
              <label class="col-6 fw-bold">Total Discount:</label>
              <label class="col-6" style="text-align: right;">{{totalDiscount | number:'1.2-2'}}</label>

              <!-- Total Extra Discount -->
              <label class="col-6 fw-bold" title="Total Extra Discount">Total E.D:</label>
              <label class="col-6" style="text-align: right;">{{totalExtraDiscount | number:'1.2-2'}}</label>

              <!-- Total Tax -->
              <label class="col-6 fw-bold">Total Tax:</label>
              <label class="col-6" style="text-align: right;">{{totalTax | number:'1.2-2'}}</label>

              <!-- Total Extra Tax -->
              <label class="col-6 fw-bold" title="Total Extra Tax">Total E.T:</label>
              <label class="col-6" style="text-align: right;">{{totalExtraTax | number:'1.2-2'}}</label>

              <!-- Total Advance Extra Tax -->
              <label class="col-6 fw-bold" title="Total Advance Extra Tax">Total A.E.T:</label>
              <label class="col-6" style="text-align: right;">{{totalAdvanceExtraTax | number:'1.2-2'}}</label>

              <label class="col-6 fw-bold">Total Rebate:</label>
              <label class="col-6" style="text-align: right;">{{totalRebate | number:'1.2-2'}}</label>

              <!-- Total Net Payable -->
              <label class="col-6 fw-bold">Net Total</label>
              <label class="col-6" style="text-align: right;">{{totalNetPayable | number:'1.2-2'}}</label>
          </div>

          </div>
      </div>
  </div>
  </div>


  <p-dialog [(visible)]="Reportvisible" [style]="{width: '60vw'}" (onHide)="closeReportRegistration()">
      <div class="container" *ngIf="Reportvisible">
          <!-- <ssrs-reportviewer #ssrsReportViewer [reportserver]="serviceUrl" [reporturl]="ssrsFilePath"></ssrs-reportviewer> -->
          <app-invoices [voucherName]="invoiceNo" [isProductCode]="isProductCode" [isArabic]="isArabic" [type]="printtype"></app-invoices>
      </div>
  </p-dialog>

  <p-dialog #cstDailog [(visible)]="VendorVisible" [style]="{width: '40vw'}" (onHide)="closeVendorRegistration()">
      <div *ngIf="VendorVisible">
        <app-add-new-vendor  [title]="'Supplier Registration'" (dataEvent)="handleChildData()"></app-add-new-vendor>
      </div>
  </p-dialog>


  <p-dialog #PrdDailog [(visible)]="ProductsVisible" [style]="{width: '60vw'}" (onHide)="closeProductsRegistration()">
    <div *ngIf="ProductsVisible">
      <app-add-new-product  [title]="'Product Registration'" [showGroupBtn]="false" (dataEvent)="ProductsVisible = false"></app-add-new-product>
    </div>
  </p-dialog>



<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>


<app-please-wait *ngIf="showPleaseWait"></app-please-wait>
