<div class="container">
  <h4 translate>{{title}}</h4>
  <div style="border-Top: 3px solid #eee;" class="row">
      <div class="col-12">
        <div class="col-12">
          <label class="col-form-label date-label col-12 required" translate>Roles</label>
          <p-autoComplete #inputFieldTable pAutoFocus [autofocus]="true" [(ngModel)]="selectedRole" [suggestions]="filterRole" (completeMethod)="filtersRole($event)" (keyup.enter)="onEnterTableInputCst(0)"
          field="RoleName" value="RoleID" styleClass="col-12" [minLength]="1" [dropdown]="true" ></p-autoComplete>
        </div>

        <div class="col-12">
          <label class="col-form-label date-label col-12 required" translate>Screens</label>
          <p-autoComplete #inputFieldTable  [(ngModel)]="selectedScreen" [suggestions]="filterScreen"  (completeMethod)="FilterScreen($event)" (keyup.enter)="onEnterTableInputCst(0)"
          field="screenName" value="screenID" styleClass="col-12" [minLength]="1" [dropdown]="true" ></p-autoComplete>
        </div>
        <div class="col-12">
          <label class="col-form-label date-label col-12 required" translate>On Save</label>
          <p-dropdown [options]="dropdownlist" #inputFieldTable [(ngModel)]="selectedSave" [styleClass]="'col-12'"></p-dropdown>
          <label class="col-form-label date-label col-5 required" translate>On Edit</label>
          <p-dropdown [options]="dropdownlist" #inputFieldTable [(ngModel)]="selectedEdit" [styleClass]="'col-12'"></p-dropdown>
        </div>
        <div class="col-12">
          <label class="col-form-label date-label col-12 required" translate>On Delete</label>
          <p-dropdown [options]="dropdownlist" #inputFieldTable [(ngModel)]="selectedDelete" [styleClass]="'col-12'"></p-dropdown>
        </div>

          <br>
          <div class="col-12" style="text-align: right;">
              <button #savebtn (click)="saveLoc()" class="btn btn-primary col-3" translate><i class="fa fa-save"></i> Save</button>&nbsp;
              <button #cancelbtn (click)="sendDataToParent()" class="btn btn-danger col-3" translate><i class="fa fa-undo"></i> Cancel</button>
          </div>

      </div>
  </div>
</div>
