<div class="container">
  <h4 translate>{{title}}</h4>
  <div style="border-Top: 3px solid #eee;" class="row">
      <div class="col-12">
          <div class="col-12">
              <label class="col-form-label date-label col-6 required" translate>First Name</label>
              <label class="col-form-label date-label col-6 required" translate>Last Name</label>
              <input pInputText #inputFieldTable (keyup.enter)="onEnterTableInputCst(0)" name="code" autofocus class="col-form-label col-5" [(ngModel)]="UserList[0].FirstName"/>
              <input pInputText #inputFieldTable (keyup.enter)="onEnterTableInputCst(1)" id="name" class="col-form-label col-6 offset-1"  name="name"  [(ngModel)]="UserList[0].LastName"/>
          </div>

          <div class="col-12">
              <label class="col-form-label date-label col-12 required" translate>Email Address</label>
              <input pInputText type="email" id="descr" autocomplete="new-email" #inputFieldTable [disabled]="isEdit" (keyup.enter)="onEnterTableInputCst(2)" class="col-form-label col-12"  name="descr" email  [(ngModel)]="UserList[0].Email"/>
          </div>
          <div class="col-12" *ngIf="!isEdit">

              <label class="col-form-label date-label col-12 required" translate>Password</label>
              <input pInputText id="address" type="password" autocomplete="new-password" [disabled]="isEdit" #inputFieldTable (keyup.enter)="onEnterTableInputCst(3)" class="col-form-label col-12" name="address"  [(ngModel)]="UserList[0].password" />
            </div>

          <div class="col-12">
              <label class="col-form-label date-label col-12 required" translate>Mobile</label>
              <input pInputText id="phone" #inputFieldTable (keyup.enter)="onEnterTableInputCst(4)" class="col-form-label col-12" name="phone"  [(ngModel)]="UserList[0].Mobile"/>
          </div>

          <div class="col-12">
            <label class="col-form-label date-label col-6 required" translate>Roles</label>
            <label class="col-form-label Vendor-label col-6 required" translate>Location<span>:</span>&nbsp;</label>
            <p-autoComplete #inputField pAutoFocus [autofocus]="true" [(ngModel)]="SelectedRole" [suggestions]="filterRole"  (completeMethod)="filtersRole($event)" (keyup.enter)="onEnterTableInputCst(5)"
            field="RoleName" value="RoleID" styleClass="col-5" [minLength]="1" [dropdown]="true" #autoComplete (onFocus)="autoComplete.show()"></p-autoComplete>
            <p-dropdown
            #inputField
            styleClass="offset-1 col-6"
            [(ngModel)]="SelectedLocation"
            [options]="locations"
            optionLabel="LocationName"
            [filter]="true"
            [filterBy]="'LocationName'"
            appendTo="body"
            [showClear]="true"
            placeholder="Select a Location"
            >
            </p-dropdown>
          </div>


          <div class="col-12">
            <label class="col-form-label date-label col-12 required" translate>Companies</label>
            <div class="row">
              <div *ngFor="let colName of cols"  class="field-checkbox" class="col-4" style="margin-bottom: 10px;">
                <p-checkbox name="group" [value]="colName"  [(ngModel)]="selectedColumns" label="{{colName.companyName | translate}}"></p-checkbox>
              </div>
            </div>
          </div>
          <br>
          <div class="col-12" style="text-align: right">
              <button #savebtn (click)="saveUser()" class="btn btn-primary col-3" translate><i class="fa fa-save"></i> Save</button>&nbsp;
              <button #cancelbtn (click)="sendDataToParent()" class="btn btn-danger col-3" translate><i class="fa fa-undo"></i> Cancel</button>
          </div>

      </div>
  </div>
</div>


<p-overlayPanel #op [style]="{'width': '450px'}">
  <ng-template pTemplate="content">
  </ng-template>
</p-overlayPanel>
