<div class="container">
  <h4 translate>{{title}}</h4>
  <div style="border-Top: 3px solid #eee;" class="row">
      <div class="col-12">
          <div class="col-12">
            <label *ngIf="isRegular" style="font-weight:bold;background-color: gainsboro;cursor:pointer"  class="col-6" for="regularRadio">
              <input type="radio" style="margin-left:10px;margin-top:10px" [value]="true" name="regular" [checked]="isRegular" (change)="OnRadioChange(true)">
              Regular Customer
            </label>

            <label *ngIf="!isRegular" style="font-weight:bold; cursor:pointer" class="col-6" for="regularRadio" (click)="OnRadioChange(true)">
              <input type="radio" style="margin-left:10px;margin-top:10px" [value]="true" name="regular" [checked]="isRegular" (change)="OnRadioChange(true)">
              Regular Customer
            </label>


            <label *ngIf="!isRegular && isDisable" style="font-weight:bold;background-color: gainsboro;cursor:pointer"  class="col-6" for="regularRadio">
              <input type="radio" [value]="false" style="margin-left:10px;margin-top:10px" name="regular" [checked]="!isRegular" (change)="OnRadioChange(false)">
              WALK IN Customer
            </label>

            <label *ngIf="isRegular && isDisable" style="font-weight:bold;cursor:pointer" class="col-6" for="regularRadio" (click)="OnRadioChange(false)">
              <input type="radio" [value]="false" style="margin-left:10px;margin-top:10px" name="regular" [checked]="!isRegular" (change)="OnRadioChange(false)">
              WALK IN Customer
            </label>
          </div>

          <div class="col-12" *ngIf="!isRegular">
            <label class="col-form-label date-label col-12 required" translate>VAT No</label>
            <input pInputText #inputFieldTableCst (blur)="CheckCustomerExistByVAT()" (keyup.enter)="onEnterTableInputCst(5)" class="col-form-label col-12"  (keypress)="($event.charCode >= 48 && $event.charCode < 58)" maxlength="15" name="vat"   [(ngModel)]="customerList[0].taxNo" />
          </div>

          <div class="col-12" *ngIf="!isRegular">
            <label class="col-form-label date-label col-12 required" translate>Phone</label>
            <p-inputMask mask="+99 999 999 9999" (onBlur)="CheckCustomerExistByPhone()" (keyup.enter)="onEnterTableInputCst(3)" styleClass="col-form-label col-12"  [(ngModel)]="customerList[0].contPhone" ></p-inputMask>
        </div>

          <div class="col-12" *ngIf="isRegular">
            <label class="col-form-label date-label col-4 required" translate>Code</label>
            <label class="col-form-label date-label col-8 required" translate>Name</label>
              <input pInputText #inputFieldTableCst (keyup.enter)="onEnterTableInputCst(0)" name="code" maxlength="10" [(ngModel)]="customerList[0].cstCode" class="col-form-label col-3"/>
              <input pInputText #inputFieldTableCst (keyup.enter)="onEnterTableInputCst(1)" id="name" class="col-form-label offset-1 col-8"  name="name" autofocus  [(ngModel)]="customerList[0].cstName"/>
          </div>
          <div class="col-12" *ngIf="!isRegular">
              <label class="col-form-label date-label col-12 required" translate>Name</label>
              <input pInputText #inputFieldTableCst (keyup.enter)="onEnterTableInputCst(1)" id="name" class="col-form-label col-12"  name="name" autofocus  [(ngModel)]="customerList[0].cstName"/>
          </div>
          <div class="col-12" *ngIf="isRegular">
            <label class="col-form-label date-label col-5 required" translate>Region</label>
            <label class="col-form-label date-label col-4 required" translate>City</label>
            <label class="col-form-label date-label col-3 required" translate>Area</label>
            <p-dropdown
            #inputFieldTableCst
            styleClass="col-4"
            [(ngModel)]="selectedRegion"
            [options]="regionList"
            optionValue="LocationId"
            optionLabel="LocationName"
            [filter]="true"
            [filterBy]="'LocationName'"
            appendTo="body"
            [showClear]="true"
            (onChange)="ChangeRegion()"
            placeholder="Select a region"
            >
          </p-dropdown>
            <p-dropdown
            #inputFieldTableCst
            styleClass="offset-1 col-3"
            [(ngModel)]="selectedCity"
            [options]="cityList"
            optionValue="LocationId"
            optionLabel="LocationName"
            [filter]="true"
            [filterBy]="'LocationName'"
            appendTo="body"
            [showClear]="true"
            (onChange)="ChangeCity()"
            [placeholder]="selectedRegion ? 'Select a City' : 'Select Region First' "
            >
            </p-dropdown>
            <p-dropdown
            #inputFieldTableCst
            styleClass="offset-1 col-3"
            [(ngModel)]="selectedArea"
            [options]="areaList"
            optionLabel="LocationName"
            [filter]="true"
            [filterBy]="'LocationName'"
            appendTo="body"
            [showClear]="true"
            [placeholder]="selectedCity ? 'Select a Area' : 'Select City First' "
            >
          </p-dropdown>
          </div>
          <div class="col-12" *ngIf="isRegular">
            <label class="col-form-label date-label col-8 required" translate>Address</label>
            <label class="col-form-label date-label col-4 required" translate>Phone</label>
            <input pInputText id="shortName" #inputFieldTableCst (keyup.enter)="onEnterTableInputCst(2)" class="col-form-label col-7" name="Address"  [(ngModel)]="customerList[0].address">
              <p-inputMask mask="+99 999 999 9999"  (keyup.enter)="onEnterTableInputCst(2)" styleClass="col-form-label offset-1 col-4"  [(ngModel)]="customerList[0].contPhone" ></p-inputMask>
          </div>
          <div class="col-12" *ngIf="isRegular">
            <label class="col-form-label date-label col-12 required" translate>Opening Balance</label>
            <input pInputText id="city" #inputFieldTableCst (keyup.enter)="onEnterTableInputCst(4)" (keypress)="($event.charCode >= 48 && $event.charCode < 58)" maxlength="10" class="col-form-label col-12" name="vat"   [(ngModel)]="customerList[0].opnBal" />
          </div>
          <div class="col-12" *ngIf="isRegular">
              <label class="col-form-label date-label col-7 required" translate>VAT No</label>
              <label class="col-form-label date-label col-5 required" translate>VAT %</label>
              <input pInputText #inputFieldTableCst (keyup.enter)="onEnterTableInputCst(5)" (keypress)="($event.charCode >= 48 && $event.charCode < 58)" maxlength="15" class="col-form-label col-5" name="vat"   [(ngModel)]="customerList[0].taxNo" />
              <label class="col-2"></label>
              <input pInputText (keypress)="($event.charCode >= 48 && $event.charCode < 58)" maxlength="2" #inputFieldTableCst (keyup.enter)="onEnterTableInputCst(6)" class="col-form-label col-5" name="taxValue"  [(ngModel)]="customerList[0].taxValue" />
          </div>
          <div class="col-12" style="text-align: right;">
              <br>
              <button #savebtn (click)="saveCustomer()" translate class="btn btn-primary col-3"><i class="fa fa-save"></i> Save</button>&nbsp;
              <button #cancelbtn (click)="sendDataToParent()" translate class="btn btn-danger col-3"><i class="fa fa-undo"></i> Cancel</button>
          </div>
      </div>
  </div>
</div>
