<ul class="layout-menu">
  <p-autoComplete #autoComplete [(ngModel)]="selectedItem" placeholder="Search Menu" [suggestions]="filteredItems" (completeMethod)="filterItems($event)" field="child" (onSelect)="onAutocompleteSelect($event)"></p-autoComplete>
    <ng-container *ngFor="let item of model; let i = index;">
        <li app-menuitem *ngIf="!item.separator" [item]="item" [index]="i" [root]="true"></li>
        <li *ngIf="item.separator" class="menu-separator"></li>
    </ng-container>
</ul>

