<div class="layout-topbar">
    <div class="row" style="width: 100%;margin: 0px;margin-top: 5px;">
      <div class="col-2">
        <a class="" routerLink="" style="width: 100% !important;
        display: inline-block;
        align-items: center !important;
        overflow: hidden !important;
        height: 75px;
        border-radius: unset !important;
        text-align: center;
        padding-top: 5px;
        margin-bottom:5px">
          <img [src]="path" alt=""  style="max-width: 100% !important;
          max-height: 100% !important;
          object-fit: contain !important;
          height:100% !important;
          margin-right: 0px !important;">
          <span></span>
        </a>
      </div>
      <div class="col-8" style="padding-top:13px;">

      <ng-container *ngIf="this.auth.isAuthenticated();then authenticated1">

      </ng-container>
      <ng-template #authenticated1>
          <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
              <i class="pi pi-bars"></i>
          </button>
          <span>
            <!-- <button class="btn" style="margin-right: 5px; width:100px; height:44px; font-size:12px; color: white;background-image: linear-gradient(to right, rgb(244, 160, 200) 0%, rgb(112, 40, 228) 100%); border: none" *ngFor="let item of bookmarkService.bookmarks" [routerLink]="item.link"> -->
            <button class="btn btn-primary" style="margin-right: 5px; width:100px; height:44px; font-size:12px;" *ngFor="let item of bookmarkService.bookmarks" [routerLink]="item.link">
              {{ item.item }}
            </button>
          </span>
      </ng-template>
      </div>
      <div class="col-2"  style="padding-top:17px;">
        <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
            <i class="pi pi-ellipsis-v"></i>
        </button>




      <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
          <ng-container *ngIf="this.auth.isAuthenticated();then authenticated2">

          </ng-container>
          <ng-container *ngIf="this.auth.isAuthenticatedforLogin();then authenticated;">

            </ng-container>

          <!-- <ng-template #notAuthenticated>
              <button type="button" class="p-link" [routerLink]="'/login'" style="margin-right: 20px;">Home</button>
              <button type="button" class="p-link" [routerLink]="'/features'" style="margin-right: 20px;">Features</button>
              <button type="button" class="p-link" [routerLink]="'/pricing'" style="margin-right: 20px;">Pricing</button>
              <button type="button" class="btn btn-primary" [routerLink]="'/login'" style="margin-right: 20px;">Sign In</button>
              <button type="button" class="btn btn-success" [routerLink]="'/SignUp'" style="margin-right: 20px;">Free Trial</button>
              <button type="button" class="btn btn-warning" [routerLink]="'/Register'">Buy Now</button>
          </ng-template> -->




          <ng-template #authenticated2>
            <button class="btn btn-primary" title="Switch Account/Company" (click)="changeCompany()" style="width: 40px;height: 40px;  margin-right: 8px;">
              <i class="pi pi-arrow-right-arrow-left"></i>
              <!-- <span translate> Switch Company</span> -->
          </button>
            
             

            <button class="btn btn-primary" (click)="ResetView()" title="Change Password" style="width: 40px;height: 40px;  margin-right: 8px;">
              <i class="pi pi-key"></i>
              <!-- <span translate> Switch Company</span> -->
            </button>
          <!-- <button (click)="changeLangage('ar')">Arabic</button>
          <button (click)="changeLangage('en')">English</button> -->
          <!-- <button class="p-link layout-topbar-button">
              <i class="pi pi-user"></i>
              <span>Profile</span>
          </button> -->
          <button class="btn btn-success" title="Company Setting" style="width: 40px;height: 40px;  margin-right: 8px;" [routerLink]="app_routes.administration.companySetting">
              <i class="pi pi-cog"></i>
              <!-- <span>Settings</span> -->
          </button>
        </ng-template>

          <ng-template #authenticated>


          <button (click)="op.toggle($event)" class="btn btn-primary" title="user info" style="width: 40px;height: 40px;">
            <i class="fa-solid fa-user"></i>
          </button>
          <p-overlayPanel #op [dismissable]="true">
            <ng-template pTemplate>
              <!-- User Info Display -->
              <div >
                <div>
                  <b>
                  User: {{ userEmail }}
                  </b>
                </div>
              </div>
              <button class="btn btn-danger" title="Logout" style="width: 100%;height: 40px;margin-top: 5px;" (click)="logout()">
                <i class="fa-solid fa-power-off"></i>
                Log Out
              </button>
            </ng-template>
          </p-overlayPanel>
          </ng-template>
        </div>
      </div>
    </div>
</div>

<p-dialog [(visible)]="changeCompanyVisibility" [modal]="true" [style]="{width: '80vw'}">
<div class="container" >
    <div class="card">
      <div class="row">


        <!-- <div class="col-12">
            <p class="col-6" translate></p>
            <button (click)="openDailogForCreateNewCompany()" [disabled]="btnReg" #savebtn class="btn btn-outline-success float-end p-button-rounded col-6" translate></button>
        </div> -->
        <div style="width: 90%; margin: auto;">
          <div class="row">
            <div class="col-8">
              <label class="col-form-label Type-label required col-12" style="font-size: 20px;" translate> <span style="color: #0d6efd;">Companies List</span> &nbsp;</label>
            </div>
            <div class="col-4">
              <button  class="btn btn-success" title="Add New Company" translate style="float: right;" (click)="openDailogForCreateNewCompany()"><i class="pi pi-plus"></i></button>
            </div>
          </div>

          <div class="col-12" style="font-size:16px">
              <div *ngFor="let row of companylist">
                  <a (click)="SetCompany(row)" #savebtn class="btn p-button-text p-button-rounded" style="width: 100%; font-size: 16px;text-align: left !important; color:#000" translate><i style="font-size:12px; margin-right: 8px;" class="fa-solid fa-arrow-right"></i> {{row.companyName}}</a>
            </div>
          </div>
        </div>
        <!-- <div class="col-12" class="text-center">
          <br>
          <button (click)="logout()" translate [disabled]="btnReg" #savebtn class="btn btn-outline-primary p-button-rounded col-4">Logout</button>
        </div> -->

      </div>
    </div>
  </div>
</p-dialog>


  <p-dialog #prodDailog [(visible)]="AddCompanyVisible"  [modal]="true" [style]="{width: '30vw'}" >
    <div class="container">
      <h4 translate>Add New Company</h4>
      <div style="border-Top: 3px solid #eee;" class="row">
          <div class="col-12">
                  <label class="col-form-label date-label col-12 required" translate>Company Name</label>
                <input pInputText #inputFieldTableCst autofocus id="code" class="col-form-label col-12" name="code"  [(ngModel)]="NewCompanyList[0].companyName"/>
                <label class="col-form-label date-label col-12 required" translate>TAX/VAT No</label>
                <input pInputText #inputFieldTableCst autofocus id="code" (keypress)="($event.charCode >= 48 && $event.charCode < 58)" maxlength="15" class="col-form-label col-12" name="code"  [(ngModel)]="NewCompanyList[0].productionType"/>

                <br>
                <div class="col-12" style="text-align: right;">
                <br>
                  <button #savebtn (click)="RegisterNewCompany()" translate [disabled]="check" class="btn btn-primary col-3"><i class="fa fa-save"></i>                    Save</button>&nbsp;
                  <button #cancelbtn (click)="AddCompanyVisible=false" translate [disabled]="check" class="btn btn-danger col-3"><i class="fa fa-undo"></i>                    Cancel</button>
              </div>
          </div>
      </div>
    </div>
  </p-dialog>




<p-dialog #cstDailog [(visible)]="resetPasswordVisibility" [modal]="true" [style]="{width: '30vw'}">
  <div class="container">
    <h4 translate>Change Password</h4>
    <div style="border-Top: 3px solid #eee;" class="row">
        <div class="col-12">
                <label class="col-form-label date-label col-12 required" translate>Old Password</label>
              <p-password type="password" [toggleMask]="true" #inputFieldTableCst autofocus autocomplete="new-password" id="code" styleClass="col-form-label col-12" name="code"  [(ngModel)]="oldPassword"/>

                <label class="col-form-label date-label col-12 required" translate>New Password</label>
              <p-password type="password" [toggleMask]="true" #inputFieldTableCst autocomplete="new-password" autofocus id="code" styleClass="col-form-label col-12" name="code"  [(ngModel)]="newPassword"/>

              <br>
              <div class="col-12" style="text-align: right;">
              <br>
                <button #savebtn (click)="ResetPassword()" translate  class="btn btn-primary col-3"><i class="fa fa-save"></i>                    Save</button>&nbsp;
                <button #cancelbtn (click)="resetPasswordVisibility=false" translate class="btn btn-danger col-3"><i class="fa fa-undo"></i>                    Cancel</button>
            </div>
        </div>
    </div>
  </div>
</p-dialog>



<style>

.notification-card {
  max-width: 300px;
  background-color: white;
  color:black;
  border: 1px solid #c3e6cb; /* Example border color */
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: space-between; */
}

.notification-message {
  margin: 0;
}
.notification-date{
  text-align: right;
}

.notification-numbers{
  color: red;
    background: white;
    border-radius: 100px;
    width: 20px;
    font-weight: bold;
    /* float: inline-end; */
    position: relative;
    right: -12px;
    top: -38px;
}


</style>
