
<div class="container">
  <div class="card">
  <div class="row">
      <div class="col-12">
        <div class="row">
          <label class="col-3" style="border-left: 3px solid #3B82F6; font-size: 1.5rem;font-weight: 500;color: var(--surface-900);" translate>&nbsp;Journal Voucher</label>
          <label class="col-form-label date-label col-3 required" translate>Date</label>
          <label class="col-6 text-right"><i class="pi pi-times-circle" (click)="confirmDailog('close')" style="font-size: 1.5rem; float:right"></i></label>
        </div>

        <div class="row">
          <div class="col-3">
          </div>

          <div class="col-3">
              <p-calendar #inputField  [maxDate]="maxDate" pAutoFocus [showOnFocus]="true" (keyup.enter)="onEnterComplex(0)" [(ngModel)]="selectedDate" [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>
          </div>
        </div>
      </div>
      <div class="col-9">
          <br>
          <p-table #dt [value]="voucherList" dataKey="voucherNo" editMode="row"  styleClass="p-datatable-sm" [scrollable]="true" class="JournalTable"  scrollHeight="220px" scrollDirection="vertical">
              <ng-template pTemplate="header">
                  <tr>
                      <th translate>Account</th>
                      <th class="" translate>Details</th>
                      <th class="" style="text-align: center;" translate>Debit</th>
                      <th class="" style="text-align: center;" translate>Credit</th>
                      <th translate></th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
                  <tr (click)="activeAllModule(ri)" [style.background-color]="ri == rowNmb ? 'lightgray' : 'white'">
                    <td class="add-custom-table" >
                      <p-autoComplete #autoComplete appendTo="body" [style]="{'width':'40px !important'}" #inputField  [(ngModel)]="rowData.parentlist" [suggestions]="FilterCoaAccountList" (completeMethod)="filterCoaAccount($event)"
                      field="acctName" value="COAID" [minLength]="1" (onFocus)="onFocus(autoComplete, $event)"  (onBlur)="onBlur(autoComplete)" (keyup.enter)="onEnterTableInput(1,ri)" (onBlur)="getCoaChildList(rowData.parentlist,ri)" class="girdRow"></p-autoComplete>
                      <!-- (keydown)="productVisible($event)"   (keyup.enter)="onChange(rowData.prodName,ri)" -->
                    </td>

                    <td >
                      <p-autoComplete #autoComplete1  appendTo="body" [style]="{'width':'40px !important'}" #inputField (keyup.enter)="onEnterTableInput(2,ri)" [(ngModel)]="rowData.childlist" [suggestions]="FilterCoaAccountListForChild" (completeMethod)="filterCoaAccountForChild($event)"
                      field="acctName" value="COAID" [minLength]="1" class="girdRow" (onFocus)="onFocus(autoComplete1, $event)"  (onBlur)="onBlur(autoComplete1)"></p-autoComplete>
                      <!-- (keydown)="productVisible($event)"   (keyup.enter)="onChange(rowData.prodName,ri)" -->
                    </td>


                  <td >
                    <p-autoComplete  #inputField [(ngModel)]="rowData.debit" (onBlur)="CalcaluteTotal(ri)" (keypress)="($event.charCode >= 46 && $event.charCode < 58)" (keyup.enter)="onEnterTableInput(3,ri)" (ngModelChange)="CalcaluteTotal(ri)" [ngModelOptions]="{standalone: true}" [minLength]="1" class="girdRow girdRowforAmount"></p-autoComplete>
                </td>

                <td >
                  <p-autoComplete #inputField  [(ngModel)]="rowData.credit" (keyup.enter)="onEnterTableInput(4,ri)" (keypress)="($event.charCode >= 46 && $event.charCode < 58)"  (onBlur)="addRow(ri)" [minLength]="1" [ngModelOptions]="{standalone: true}" (ngModelChange)="CalcaluteTotal(ri)" class="girdRow girdRowforAmount"></p-autoComplete>
              </td>
              <td>
                <button pButton type="button" icon="pi pi-trash" (click)="onRowDeleteInit(rowData,ri)"  class="p-button-rounded p-button-text" [style]="{'height': '32px !important','width': '30px !important',color:'var(--gray-900)'}"></button>
            </td>
                  </tr>
              </ng-template>
              <ng-template pTemplate="footer" >
                <button (click)="addRow(voucherList.length-1)"  class="btn btn-primary" translate><i class="fa fa-plus"></i> Add</button>
              </ng-template>
          </p-table>
          <br/>
          <label class="col-form-label date-label col-3 required" translate>Comments</label>
          <textarea [style]="{'width':'500px !important','min-width':'100%'}" [maxlength]="150" pInputText #inputFieldTable class="p-inputtext-sm" (keyup.enter)="focusOnSaveButton()" type="textarea" [(ngModel)]="glComments"></textarea>
          <br/>
          <br/>
        </div>
        <div class="col-3">
            <div class="row" style="margin-top: 20px; background-color:var(--surface-900);color: var(--surface-0); padding:4px; height: 35px !important;" (click)="showInvoiceDetails()">
              <h4 class="col-9" style="color: var(--surface-0);" translate>Detail</h4>
              <i class="pi pi-angle-up col-3" *ngIf="invoiceDetailShow" style="font-size: 2rem; float: right;padding: 0px !important;text-align: right;padding-right: 5px !important;"></i>
              <i class="pi pi-angle-down col-3"  *ngIf="!invoiceDetailShow" style="font-size: 2rem; float: right;padding: 0px !important;text-align: right;padding-right: 5px !important;"></i>
          </div>
          <div class="row" *ngIf="invoiceDetailShow">
              <div class="col-12" style="border-radius: 10px; background-color: '';">
                <label class="col-form-label col-6 required" translate><strong translate>Total Debit</strong></label>
                <label class="col-form-label col-6" style="text-align: right;" name="TotalBalance" [(ngModel)]="TotalBalance" ngDefaultControl >{{TotalBalance | number : '1.2-2'}}</label>

                <label class="col-form-label col-6 required" translate><strong translate>Total Credit</strong></label>
                <label class="col-form-label col-6" style="text-align: right;" name="totalPaid" [(ngModel)]="TotalPaid" ngDefaultControl >{{TotalPaid | number : '1.2-2'}}</label>

                  <label class="col-form-label col-6 required" translate hidden><strong translate>Total</strong></label>
                  <label class="col-form-label col-6" style="text-align: right;" hidden name="TotalRemaining" [(ngModel)]="TotalRemaining" ngDefaultControl >{{TotalRemaining | number : '1.2-2'}}</label>
              </div>
          </div>

          <div style="position: absolute;bottom:40px;right: 20px;">
            <button #savebtn (click)="saveInvoice()" [disabled]="savebtnDisable" class="btn btn-primary" translate><i class="fa fa-save"></i> Save</button>
            <button #cancelbtn (click)="confirmDailog('cancel')"   style="margin-left: 10px;" class="btn btn-danger" translate><i class="fa fa-undo"></i> Cancel</button>
            <button #cancelbtn (click)="confirmDailog('close')"   style="margin-left: 10px;" class="btn btn-danger" translate><i class="fa fa-close"></i> Close</button>
          </div>

        </div>
    </div>
  </div>

</div>
<!--
  <p-dialog [(visible)]="visible" [style]="{width: '90vw'}">
      <div class="table-container">
          <div class="table">
              <h4>Purchase Rate</h4>
              <p-table #dt [value]="productlist" dataKey="prodID" scrollHeight="100px"  styleClass="p-datatable-sm">
                  <ng-template pTemplate="header">
                      <tr>
                          <th class="">Product Name</th>
                          <th class="">Purchase Price</th>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
                      <tr>


                          <td>
                              {{rowData.prodName}}
                          </td>
                          <td>
                              {{rowData.purchRate}}
                          </td>

                      </tr>
                  </ng-template>
              </p-table>
          </div>
          <div class="table">
              <h4>Customer History</h4>
              <p>Customer Name : {{selectedCustomerName}}</p>
              <p-table #dt [value]="invoicelist" dataKey="cstID" scrollHeight="100px" styleClass="p-datatable-sm">
                  <ng-template pTemplate="header">
                      <tr>
                          <th class="">Invoice No</th>
                          <th class="">Product Name</th>
                          <th class="">Price</th>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
                      <tr>
                          <td>
                              {{rowData.voucherNo}}
                          </td>
                          <td>
                              {{rowData.prodName}}
                          </td>
                          <td>
                              {{rowData.unitPrice}}
                          </td>
                      </tr>
                  </ng-template>
              </p-table>
          </div>
      </div>
  </p-dialog>
  <p-dialog [(visible)]="Reportvisible" [style]="{width: '60vw'}" (onHide)="closeReportRegistration()">
      <div class="container" *ngIf="Reportvisible">
          <app-invoices [voucherName]="invoiceNo" [type]="printtype"></app-invoices>
      </div>
  </p-dialog>

  <p-dialog #cstDailog [(visible)]="CustomersVisible" [style]="{width: '40vw'}" (onHide)="closeCustomerRegistration()">
      <app-add-new-customer [title]="'Customer Registration'" (dataEvent)="handleChildData()"></app-add-new-customer>
  </p-dialog>


  <p-dialog #PrdDailog [(visible)]="ProductsVisible" [style]="{width: '40vw'}" (onHide)="closeProductsRegistration()">
      <app-add-new-product [title]="'Product Registration'" (dataEvent)="handleChildData()"></app-add-new-product>
  </p-dialog>


  <p-dialog [(visible)]="PrintringVisible" [style]="{width: '20vw'}">
      <div class="container">
            <input type="radio" id="html" name="fav_language" (change)="onChangePrint($event)" value="thermal" checked>
            <label for="html">Thermal View</label><br>
            <input type="radio" id="css" name="fav_language" (change)="onChangePrint($event)" value="A4">
            <label for="css">A4 View</label><br>
          <br>
          <button (click)="onPrinterClick()" autofocus class="btn btn-outline-primary">Submit</button>
      </div>
  </p-dialog> -->


  <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>

  <app-please-wait *ngIf="showPleaseWait"></app-please-wait>
