
    <app-gird
    tableheading="Products"
    [columns]="cols"
    [data]="products"
    [rowcount]=100
    [allowColSort]="false"
    [allowColFilter]="false"
    [allowGlobalFilter]="true"
    [allowActionButtons]="true"
    (handleToolVisibility)="handleTool($event)"
    (dataEvent)="handleChildData($event)"
  >
  </app-gird>


<p-dialog #cstDailog [modal]="true" [(visible)]="ProductVisible" [style]="{width: '50vw'}">
    <app-add-new-product [prodData]="prdList" [prodGroupData]="productgrouplist" [title]="title" (dataEvent)="handleChildData($event)"></app-add-new-product>
</p-dialog>


<p-dialog #prodDailog [modal]="true" [(visible)]="ProductGroupVisible" [style]="{width: '30vw'}">
  <app-add-new-prod-group [prodData]="prdList" [title]="grouptitle" (dataEvent)="handleChildData($event)"></app-add-new-prod-group>
</p-dialog>

<p-dialog [modal]="true" [(visible)]="UploadToolVisibility" [style]="{width: '40vw'}">
  <app-file-upload [uploadHeading]="'Products'" [confirmCategory]="catBool" [data]="exportData" [serviceName]="serviceName" [methodName]="methodName" (dataEvent)="getInsertedRows($event)"></app-file-upload>
</p-dialog>

