<div class="container">
    <div style="margin-bottom: 8px;">
      <p-dropdown [options]="period" [(ngModel)]="selectedPeriod" (onChange)="RefreshData()" [showClear]="true" placeholder="Select a Period"></p-dropdown>
    </div>
    <div class="grid" [ngClass]="{ 'loading': loading }">
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0 dashboard-card dashboard-card"  style="background:linear-gradient(to right, #90caf9, #047edf 99%) !important; color:white">
              <img src="../../../assets/Images/circle.svg" class="card-img-absolute">
                <div class="justify-content-between">
                    <div>
                      <div class="align-items-center justify-content-center" [style]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="fa-solid fa-boxes-stacked text-xl"></i>
                      </div>
                      <div class="font-medium text-xl" >{{totalProducts}}</div>
                        <span class="block font-medium" translate>Total Products</span>
                    </div>
                        <!-- <i class="pi pi-shopping-cart text-blue-500 text-xl"></i> -->
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0 dashboard-card" style="background:linear-gradient(to right, #84d9d2, #07cdae) !important; color:white">
              <img src="../../../assets/Images/circle.svg" class="card-img-absolute">
                <div class="justify-content-between">
                    <div>
                      <div class="align-items-center justify-content-center" [style]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="fa-solid fa-users text-xl"></i>
                      </div>
                      <div class="font-medium text-xl">{{totalCustomers}}</div>
                        <span class="block font-medium" translate>Total Customers</span>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-3">
          <div class="card mb-0 dashboard-card"  style="background:linear-gradient(to right, #ffbf96, #fe7096) !important; color:white">
            <img src="../../../assets/Images/circle.svg" class="card-img-absolute">
              <div class="justify-content-between">
                  <div>
                    <div class="align-items-center justify-content-center" [style]="{width: '2.5rem', height: '2.5rem'}">
                      <i class="fa-solid fa-money-bill text-xl"></i>
                    </div>
                    <div class="font-medium text-xl" >{{TotalValuation | number : '1.2-2'}}</div>
                      <span class="block font-medium" translate>Stock Valuation</span>
                  </div>
                      <!-- <i class="pi pi-shopping-cart text-blue-500 text-xl"></i> -->
              </div>
          </div>
        </div>
        <!-- <div class="col-12 lg:col-6 xl:col-3">
          <div class="card mb-0 dashboard-card"  style="background:linear-gradient(to right, #da8cff, #9a55ff); color:white">
            <img src="../../../assets/Images/circle.svg" class="card-img-absolute">
              <div class="justify-content-between">
                  <div>
                    <div class="align-items-center justify-content-center" [style]="{width: '2.5rem', height: '2.5rem'}">
                      <i class="fa-solid fa-hand-holding-dollar text-xl"></i>
                    </div>
                    <div class="font-medium text-xl" >{{TotalValuation | number : '1.2-2'}}</div>
                      <span class="block font-medium" translate>Stock Valuation</span>
                  </div>
              </div>
          </div>
        </div> -->

        <!-- Credit Card -->
        <div class="col-12 lg:col-6 xl:col-3">
          <div class="card mb-0 dashboard-card"  style="background:linear-gradient(to right, #da8cff, #9a55ff); color:white">
            <img src="../../../assets/Images/circle.svg" class="card-img-absolute">
              <div class="justify-content-between">
                  <div>
                    <div class="align-items-center justify-content-center" [style]="{width: '2.5rem', height: '2.5rem'}">
                      <i class="fa-solid fa-hand-holding-dollar text-xl"></i>
                    </div>
                    <div class="font-medium text-xl" >{{CreditCard | number : '1.2-2'}}</div>
                      <span class="block font-medium" translate>Credit Card</span>
                  </div>
              </div>
          </div>
        </div>

        <div class="col-12 lg:col-6 xl:col-3">
          <div class="card mb-0 dashboard-card"  style="background:linear-gradient(to right, #da8cff, #9a55ff);color:white">
            <img src="../../../assets/Images/circle.svg" class="card-img-absolute">
              <div class="justify-content-between">
                  <div>
                    <div class="align-items-center justify-content-center" [style]="{width: '2.5rem', height: '2.5rem'}">
                      <i class="fa-solid fa-money-bill-trend-up text-xl"></i>
                    </div>
                    <div class="font-medium text-xl" >{{CashSale | number : '1.2-2'}}</div>
                      <span class="block font-medium" translate>Cash Sale</span>
                  </div>
                      <!-- <i class="pi pi-shopping-cart text-blue-500 text-xl"></i> -->
              </div>
          </div>
      </div>
      <div class="col-12 lg:col-6 xl:col-3">
          <div class="card mb-0 dashboard-card" style="background:linear-gradient(to right, #f6e384, #ffd500); color:white">
            <img src="../../../assets/Images/circle.svg" class="card-img-absolute">
            <div class="justify-content-between">
                  <div>
                    <div class="align-items-center justify-content-center" [style]="{width: '2.5rem', height: '2.5rem'}">
                      <i class="pi pi-shopping-cart  text-xl"></i>
                    </div>
                    <div class="font-medium text-xl">{{CreditSale | number : '1.2-2'}}</div>
                      <span class="block font-medium" translate>Credit Sale</span>
                  </div>

              </div>
          </div>
      </div>
      <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0 dashboard-card"  style="background:linear-gradient(to right, #84d9d2, #07cdae) !important; color:white">
          <img src="../../../assets/Images/circle.svg" class="card-img-absolute">
            <div class="justify-content-between">
                <div>
                  <div class="align-items-center justify-content-center" [style]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="fa-solid fa-hand-holding-dollar text-xl"></i>
                  </div>
                  <div class="font-medium text-xl" >{{TotalReceivable | number : '1.2-2'}}</div>
                    <span class="block font-medium" translate>Total Receivable</span>
                </div>
                    <!-- <i class="pi pi-shopping-cart text-blue-500 text-xl"></i> -->
            </div>
        </div>
      </div>
      <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0 dashboard-card"  style="background:linear-gradient(to right, #90caf9, #047edf 99%) !important; color:white">
          <img src="../../../assets/Images/circle.svg" class="card-img-absolute">
            <div class="justify-content-between">
                <div>
                  <div class="align-items-center justify-content-center" [style]="{width: '2.5rem', height: '2.5rem'}">
                  <i class="fa-solid fa-wallet text-xl"></i>

                  </div>
                  <div class="font-medium text-xl" >{{CashInHand | number : '1.2-2'}}</div>
                    <span class="block font-medium" translate>Cash In Hand</span>
                </div>
                    <!-- <i class="pi pi-shopping-cart text-blue-500 text-xl"></i> -->
            </div>
        </div>
      </div>
      <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0 dashboard-card"  style="background:linear-gradient(to right, #ffbf96, #fe7096) !important; color:white">
          <img src="../../../assets/Images/circle.svg" class="card-img-absolute">
            <div class="justify-content-between">
                <div>
                  <div class="align-items-center justify-content-center" [style]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="fa-solid fa-money-bill text-xl"></i>
                  </div>
                  <div class="font-medium text-xl" >{{CashPurchase | number : '1.2-2'}}</div>
                    <span class="block font-medium" translate>Cash Purchase</span>
                </div>
                    <!-- <i class="pi pi-shopping-cart text-blue-500 text-xl"></i> -->
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0 dashboard-card" style="background:linear-gradient(to right, #90caf9, #047edf 99%) !important; color:white">
          <img src="../../../assets/Images/circle.svg" class="card-img-absolute">
            <div class="justify-content-between">
                <div>
                  <div class="align-items-center justify-content-center" [style]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="fa-solid fa-money-bill-transfer text-xl"></i>
                  </div>
                  <div class="font-medium text-xl">{{CreditPurchase | number : '1.2-2'}}</div>
                    <span class="block font-medium" translate>Credit Purchase</span>
                </div>

            </div>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
      <div class="card mb-0 dashboard-card"  style="background:linear-gradient(to right, #da8cff, #9a55ff); color:white">
        <img src="../../../assets/Images/circle.svg" class="card-img-absolute">
          <div class="justify-content-between">
              <div>
                <div class="align-items-center justify-content-center" [style]="{width: '2.5rem', height: '2.5rem'}">
                  <i class="fa-solid fa-dollar-sign text-xl"></i>
                </div>
                <div class="font-medium text-xl" >{{TotalPayable | number : '1.2-2'}}</div>
                  <span class="block font-medium" translate>Total Payable</span>
              </div>
                  <!-- <i class="pi pi-shopping-cart text-blue-500 text-xl"></i> -->
          </div>
      </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
      <div class="card mb-0 dashboard-card"  style="background:linear-gradient(to right, #84d9d2, #07cdae) !important; color:white">
        <img src="../../../assets/Images/circle.svg" class="card-img-absolute">
          <div class="justify-content-between">
              <div>
                <div class="align-items-center justify-content-center" [style]="{width: '2.5rem', height: '2.5rem'}">
                  <i class="fa-solid fa-landmark text-xl"></i>

                </div>
                <div class="font-medium text-xl" >{{BankAccounts | number : '1.2-2'}}</div>
                  <span class="block font-medium" translate>Bank Accounts</span>
              </div>
                  <!-- <i class="pi pi-shopping-cart text-blue-500 text-xl"></i> -->
          </div>
      </div>
    </div>
  </div>



    <div class="grid">


      <div class="col-12 lg:col-12 xl:col-6">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-6">
                <div>

                    <span class="block text-900 font-medium mb-3" style="font-size:20px !important; padding-bottom: 10px; border-bottom: 3px solid #eee;" translate>Top Selling Products</span>
                    <p-chart type="doughnut" [data]="chartData" [options]="chartOptions" width="32vw" height="40vh"></p-chart>
                    <!-- <p-chart type="line" [data]="chartData" [options]="chartOptions"></p-chart> -->
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-12 xl:col-6">
      <div class="card mb-0">
          <div class="flex justify-content-between mb-6">
              <div>
                  <span class="block text-900 font-medium mb-3" style="font-size:20px !important; padding-bottom: 10px; border-bottom: 3px solid #eee;" translate>Last 5 Month Sales</span>
                  <p-chart type="bar" [data]="last5Month" [options]="horizontalOptions"   width="32vw" height="40vh"></p-chart>
          </div>
      </div>
  </div>
    </div>

    <div class="col-12 lg:col-12 xl:col-12">
      <div class="card mb-0 custom-table" >
                  <span class="block text-900 font-medium mb-3"  style="font-size:20px !important; padding-bottom: 10px; border-bottom: 3px solid #eee;" translate>A/R Aging Report</span>

                  <p-table #dt1 [value]="agingDataList" dataKey="id" styleClass="p-datatable-striped"
                  [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,50,100]"
                  [paginator]="true" scrollHeight="100px" [scrollable]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                  [globalFilterFields]="['cstName','Days30','Days60','Days90','Over90Days','TotalOutstanding']">
                  <ng-template pTemplate="header">
                      <tr>
                          <th style="min-width:14rem" class="custom-table" translate>Customer Name</th>
                          <th style="min-width:10rem">
                              <div class="flex justify-content-center align-items-left" translate>
                                  0-30 Days
                              </div>
                          </th>
                          <th style="min-width:10rem" >
                              <div class="flex justify-content-center align-items-left" translate>
                                  31-60 Days
                              </div>
                          </th>
                          <th style="min-width:10rem" >
                            <div class="flex justify-content-center align-items-left" translate>
                                  61-90 Days
                            </div>
                          </th>
                          <th style="min-width:10rem" >
                              <div class="flex justify-content-center align-items-left" translate>
                                  Over 90 Days
                              </div>
                          </th>
                          <th style="min-width:14rem" >
                            <div class="flex justify-content-center align-items-left" translate>
                                Total
                            </div>
                        </th>
                          <!-- <th th style="min-width:11rem">

                          </th> -->
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-list>
                      <tr>
                          <td class="custom-table">
                            {{list.cstName}}
                          </td>
                          <td class="text-center">
                              {{list.Days30}}
                          </td>
                          <td class="text-center">
                            {{list.Days60}}
                          </td>
                          <td class="text-center">
                            {{list.Days90}}
                          </td>
                          <td class="text-center">
                            {{list.Over90Days}}
                          </td>
                            <td class="text-center">
                              {{list.TotalOutstanding}}
                          </td>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage">
                      <tr>
                          <td colspan="7" translate>No Record found.</td>
                      </tr>
                  </ng-template>
                </p-table>
              </div>
    </div>
</div>


<style>
.font-medium{
  font-size : 1.5rem !important;
  color:black;
}
.text-xl{
  color:black;
}
</style>
