<div class="container">
  <h4 >{{newtitle}}</h4>
  <div style="border-Top: 3px solid #eee;" class="row">
      <div class="col-12">
        <div class="col-12">
          <label class="col-form-label date-label col-12 required" translate>Parent Location Name</label>
          <input pInputText #parentLocationNameInput name="parentLocationName" class="col-form-label col-12" [(ngModel)]="parentLocationName" [disabled]="true"/>
        </div>

        <div class="col-12">
          <label class="col-form-label date-label col-12 required" translate>Name</label>
          <input pInputText #inputFieldTable (keyup.enter)="onEnterTableInputCst(1)" id="name" class="col-form-label col-12" autofocus name="name" [(ngModel)]="locationList[0].LocationName"/>
        </div>
          <br>
          <div class="col-12" style="text-align: right;">
              <button *ngIf="newtitle?.trim().toLowerCase()!== 'update location'" #savebtn (click)="saveAndAddLoc()" class="btn btn-primary col-3" translate><i class="fa fa-save"></i> Save & Add</button>&nbsp;
              <button #savebtn (click)="saveLoc()" class="btn btn-primary col-3" translate><i class="fa fa-save"></i> Save</button>&nbsp;
              <button #cancelbtn (click)="sendDataToParent()" class="btn btn-danger col-3" translate><i class="fa fa-undo"></i> Cancel</button>
          </div>

      </div>
  </div>
</div>
